{% extends "AGILAdminBundle::baseAdminBundle.html.twig" %}

{% form_theme form '::form_errors.html.twig' %}

{% block body %}


    <!-- Partie Ajout d'une nouvelle catégorie-->
    <div class="row panel">
        <div class="panel-heading">
            <h2 class="panel-title">
                        <span class="panel-title-content">
                           Ajouter une catégorie
                        </span>
            </h2>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <form action="{{ path('agil_admin_forum_categories') }}" method="post" {{ form_enctype(form) }}>

                {{ form_errors(form) }}

                <div class="form-group">
                    <label for="forumCategoryName">Nom de la catégorie :</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="material-icons">mode_edit</i></div>
                        {{ form_errors(form.forumCategoryName) }}
                        {{ form_widget(form.forumCategoryName) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="forumCategoryText">Description de la catégorie :</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="material-icons">info</i></div>
                        {{ form_errors(form.forumCategoryText) }}
                        {{ form_widget(form.forumCategoryText) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="forumCategoryText">Icone de la catégorie :</label>


                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span id="btn-cat-ch" class="glyphicon glyphicon-stats"> <span class="caret"></span></span>
                            </button>
                            <ul id="liste_gly_choice" class="dropdown-menu list-inline" role="menu">
                                <li><a href="#"><span class="glyphicon glyphicon-stats"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-cloud"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-film"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-lock"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-book"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-font"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-picture"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-globe"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-wrench"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-tasks"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-briefcase"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-mobile"></span></a></li>
                            </ul>
                        </div>


                    <div class="input-group">
                        {{ form_row(form.forumCategoryIcon) }}
                    </div>
                </div>


                <div class="text-center">
                    {{ form_row(form.Ajouter) }}
                </div>

                {{ form_rest(form) }}
            </form>

            <br/>
        </div>
    </div>


    <div class="row panel">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel-heading">
                <h2 class="panel-title">
                        <span class="panel-title-content">
                            Les catégories
                        </span>
                </h2>
            </div>

                {% if categories|length == 0 %}

                    <h6 class="text-center">Le forum ne contient actuellement aucune catégorie.</h6>
                    <br/>

                {% else %}

                    <div class="panel panel-default">

                        <!-- les différentes catégories existantes -->
                        <table class="table table-striped td-center">

                        {% for c in categories %}

                            <tr>
                                <td class="text-center">
                                    <span class="glyphicon {{ c.forumCategoryIcon }} text-center icon-medium"></span>
                                </td>
                                <td><a href="#"><h5>{{ c.forumCategoryName }}</h5></a></td>
                                <td class="hidden-sm hidden-xs">{{ nbSubjectsPerCategory[c.forumCategoryId] }} sujet(s)</td>
                                <td>
                                    <a id="editCategoryLink" href="{{ path('agil_admin_forum_category_edit',{'idCategory':c.forumCategoryId}) }}">
                                        <button type="button" class="btn btn-default">Editer</button>
                                    </a>
                                </td>
                                <td>
                                        <button id="deleteCategoryLink" data-href="{{ path('agil_admin_forum_category_delete',{'idCategory':c.forumCategoryId}) }}"
                                                data-target="#confirm-delete" type="button" class="btn btn-danger" data-toggle="modal"
                                              >
                                            Supprimer
                                        </button>
                                  </td>
                            </tr>

                        {% endfor %}

                        </table>

                    </div>

                {% endif %}

        </div>

    </div>


    <!-- Panel qui s'affiche pour la confirmation de suppression -->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5>Etes vous sûr ?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-success btn-ok">Confirmer</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

