{% extends "AGILAdminBundle::baseAdminBundle.html.twig" %}

{% form_theme form '::form_errors.html.twig' %}

{% block body %}

    <div class="row panel">
        <div class="panel-heading">
            <h2 class="panel-title">
                <span class="panel-title-content">
                   Modifier une catégorie
                </span>
            </h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            {{ form_start(form) }}

                {{ form_errors(form) }}

                <div class="form-group">
                    <label for="forumCategoryName">Nom de la catégorie :</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="material-icons">mode_edit</i></div>
                        {{ form_errors(form.forumCategoryName) }}
                        {{ form_widget(form.forumCategoryName) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="forumCategoryText">Description de la catégorie :</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="material-icons">info</i></div>
                        {{ form_errors(form.forumCategoryText) }}
                        {{ form_widget(form.forumCategoryText) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="forumCategoryText">Icone de la catégorie :</label>


                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="btn-cat-ch" class="{{ category.forumCategoryIcon }}">
                                <span class="caret"></span>
                            </span>
                        </button>
                        <ul id="liste_gly_choice_edit" class="dropdown-menu list-inline" role="menu">
                            <li><a href="#"><span class="glyphicon glyphicon-stats"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-cloud"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-film"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-lock"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-book"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-font"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-picture"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-globe"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-wrench"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-tasks"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-briefcase"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-phone"></span></a></li>
                        </ul>
                    </div>


                    <div class="input-group">
                        {{ form_row(form.forumCategoryIcon) }}
                    </div>
                </div>

                <p class="text-center">
                    {{ form_widget(form.Modifier) }}
                    <a class="btn btn-default" href="{{ path('agil_admin_forum_categories') }}">
                        Annuler
                    </a>
                    {{ form_rest(form) }}
                </p>

            {{ form_end(form) }}
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="container">
                    <h5>Etes vous sûr ?</h5>
                    <div class="form-group">
                        <button class="btn btn-danger">Annuler</button>
                        <button class="btn btn-success">Confirmer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}