{% extends "AGILAdminBundle::baseAdminBundle.html.twig" %}

{% block body %}


    <!-- Partie Ajout d'une nouvelle catégorie-->
    <div class="row panel">
        <div class="panel-heading">
            <h2 class="panel-title">
                        <span class="panel-title-content">
                           Ajouter une catégorie
                        </span>
            </h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


            <form action="{{ path('agil_admin_forum_categories') }}" method="post" {{ form_enctype(form) }}>

                {{ form_errors(form) }}

                <div class="form-group">
                    <label for="forumCategoryName">Nom de la catégorie :</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="material-icons">mode_edit</i></div>
                        {{ form_row(form.forumCategoryName) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="forumCategoryText">Description de la catégorie :</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="material-icons">info</i></div>
                        {{ form_row(form.forumCategoryText) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="forumCategoryText">Icone de la catégorie :</label>


                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span id="btn-cat-ch" class="glyphicon glyphicon-cutlery"> <span class="caret"></span></span>
                            </button>
                            <ul id="liste_gly_choice" class="dropdown-menu list-inline" role="menu">
                                <li><a href="#"><span class="glyphicon glyphicon-cloud"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-film"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-lock"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-book"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-font"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-picture"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-globe"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-wrench"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-tasks"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-briefcase"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-mobile"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-stats"></span></a></li>
                            </ul>
                        </div>


                    <div class="input-group">
                        {{ form_row(form.forumCategoryIcon) }}
                    </div>
                </div>


                <div class="text-center">
                    {{ form_row(form.Ajouter) }}
                </div>

                {{ form_rest(form) }}
            </form>

            <!--
            <form action="#">

                <div class="form-group" id="form_add_cat_nom">
                    <input type="text" maxlength="100" class="form-control" id="input_form_add_cat"
                           placeholder="Nom de la catégorie">
                </div>

                <div class="form-group" id="form_add_cat_des">
                    <textarea maxlength="255" type="text" class="form-control" id="input_form_add_cat_des"
                      placeholder="Description de la catégorie"></textarea>
                </div>

                <div class="form-group" id="form_add_cat_img ">

                    <div class="row">
                        <div class="col-lg-6">
                            <label><h4>Sélectionnez une icone : </h4></label>
                        </div>
                        <div class="col-lg-offset-6">
                            <table class="table selectImage">
                                <tr>
                                    <td><a href="#">
                                        <span id="1"
                                              class="btn btn-primary btn-lg white icon-add-cat glyphicon glyphicon-adjust"></span>
                                        </a>
                                    </td>
                                    <td><a href="#"><span id="2"
                                                          class="btn btn-primary btn-lg white icon-add-cat glyphicon glyphicon-arrow-right"></span></a>
                                    </td>
                                    <td><a href="#"><span id="3"
                                                          class="btn btn-primary btn-lg white icon-add-cat glyphicon glyphicon-download"></span></a>
                                    </td>
                                    <td><a href="#"><span id="4"
                                                          class="btn btn-primary btn-lg white icon-add-cat glyphicon glyphicon-book"></span></a>
                                    </td>
                                    <td><a href="#"><span id="5"
                                                          class="btn btn-primary btn-lg white icon-add-cat glyphicon glyphicon-facetime-video "></span></a>
                                    </td>
                                    <td>
                                        <a href="#">
                                    <span id="6"
                                          class="btn btn-primary btn-lg white icon-add-cat glyphicon glyphicon-bold ">
                                    </span>
                                        </a>
                                    </td>
                                </tr>

                            </table>
                        </div>
                        <input id="nom_icon" type="hidden" value="">
                    </div>

                </div>


                <div class="form-group">
                    <span id="helpInput" class="help-Input hidden text-warning">Les champs ne peuvent être vides</span>
                </div>
                <button type="submit" id="btn-add-cat" class="btn btn-default disabled">Ajouter</button>
            </form>

            -->


            <br/>
        </div>
    </div>


    <div class="row panel">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel-heading">
                <h2 class="panel-title">
                        <span class="panel-title-content">
                            Les catégories
                        </span>
                </h2>
            </div>

                {% if categories|length == 0 %}

                    <h6 class="text-center">Le forum ne contient actuellement aucune catégorie.</h6>
                    <br/>

                {% else %}

                    <div class="panel panel-default">

                        <!-- les différentes catégories existantes -->
                        <table class="table table-striped td-center">

                        {% for c in categories %}

                            <tr>
                                <td class="text-center">
                                    <span class="glyphicon {{ c.forumCategoryIcon }} text-center icon-medium"></span>
                                </td>
                                <td><a href="#"><h5>{{ c.forumCategoryName }}</h5></a></td>
                                <td class="hidden-sm hidden-xs">451 posts</td>
                                <td>
                                    <a href="{{ path('agil_admin_forum_category_edit',{'idCategory':c.forumCategoryId}) }}">
                                        <button type="button" class="btn btn-default">Editer</button>
                                    </a>
                                </td>
                                <!-- MODIFIER L'ALERTE JAVASCRIPT -->
                                <td>
                                        <button data-href="{{ path('agil_admin_forum_category_delete',{'idCategory':c.forumCategoryId}) }}"
                                                data-target="#confirm-delete" type="button" class="btn btn-danger" data-toggle="modal"
                                              >
                                            Supprimer
                                        </button>
                                  </td>
                            </tr>

                        {% endfor %}

                        </table>

                    </div>

                {% endif %}

        </div>

    </div>



    <!-- Panel qui s'affiche pour la confirmation de suppression -->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5>Etes vous sûr ?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-success btn-ok">Confirmer</a>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="modal fade bs-example-modal-sm" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="container">
                    <h5>Etes vous sûr ?</h5>
                    <div class="form-group">
                        <button class="btn btn-danger">Annuler</button>
                        <button class="btn btn-success btn-ok">Confirmer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>-->


{% endblock %}

