{% extends "AGILDefaultBundle::baseDefaultBundle.html.twig" %}
{% block body %}
    <section id="teamV1">
        <div class="row panel panel-default">
            <div class="col-lg-12">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="panel-title-content">Vincent Bernière</span>
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="col-lg-2">
                        <a href="http://www.vincent-berniere.com/"
                           title="Lien vers le site personnel de Vincent Bernière">
                            <img class="img-responsive" src="{{ asset("img/team/v1/vincent_berniere.png") }}"
                                 alt="Avatar de Vincent Bernière">
                        </a>
                    </div>
                    <div class="col-lg-10">
                        <p>Développeur Back-End</p>
                        <p class="text-justify">
                            Éternel passionné des nouvelles technologies, je me suis pris d'affection pour le
                            développement web qui est un domaine qui évolue constamment. Avec les années, je me
                            suis surtout exercé au développement PHP et JavaScript, ainsi qu'a la maîtrise de
                            frameworks tels que Symfony, et bien plus par la suite...
                        </p>
                        <div class="row">
                            <div class="col-lg-1">
                                <a href="http://www.vincent-berniere.com/"
                                   title="Lien vers le site personnel de Vincent">
                                    <img src="{{ asset('img/vincent_berniere.png') }}"
                                         alt="Logo du site de Vincent Bernière" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="http://twitter.com/BerniereVincent" title="Lien Twitter de Vincent">
                                    <img src="{{ asset('img/twitter.png') }}" alt="Logo de Twitter"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="https://plus.google.com/112039949071010077835"
                                   title="Lien Google Plus de Vincent">
                                    <img src="{{ asset('img/plus.png') }}" alt="Logo de Google Plus"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="https://github.com/VincentBerniere" title="Lien Github de Vincent">
                                    <img src="{{ asset('img/github.png') }}" alt="Logo de Github"
                                         class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row panel panel-default">
            <div class="col-lg-12">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="panel-title-content">Quentin Brodier</span>
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="col-lg-2">
                        <a href="http://www.quentin-brodier.com/"
                           title="Lien vers le site personnel de Quentin Brodier">
                            <img class="img-responsive" src="{{ asset('img/team/v1/quentin_brodier.jpg') }}"
                                 alt="Photo de Quentin Brodier">
                        </a>
                    </div>
                    <div class="col-lg-10">
                        <p>Développeur Full-Stack</p>
                        <p class="text-justify">
                            Le web est le domaine de l'informatique qui me passionne le plus. Ce dernier est énormément
                            présent et évolue si rapidement ! De nombreuses technologies gravitent autour de ce domaine
                            et c'est avec curiosité que j'essaye de toutes les explorer. Mon autre passion principale
                            est la batterie, où je fais parti d'un groupe dans lequel j'aime m'investir.
                        </p>
                        <div class="row">
                            <div class="col-lg-1">
                                <a href="http://www.quentin-brodier.com/"
                                   title="Lien vers le site personnel de Quentin">
                                    <img src="{{ asset('img/quentin_brodier.png') }}"
                                         alt="Logo du site de Quentin Brodier"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="https://twitter.com/KaotiikDrummer" title="Lien Twitter de Quentin">
                                    <img src="{{ asset('img/twitter.png') }}" alt="Logo de Twitter"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="https://fr.linkedin.com/in/quentin-brodier-994594108"
                                   title="Lien Linkedin de Quentin">
                                    <img src="{{ asset('img/linkedin.png') }}" alt="Logo de Linkedin"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="https://github.com/QuentinBrodier" title="Lien Github de Quentin">
                                    <img src="{{ asset('img/github.png') }}" alt="Logo de Github"
                                         class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row panel panel-default">
            <div class="col-lg-12">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="panel-title-content">Matthieu Coulon</span>
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="col-lg-2">
                        <a href="https://www.flickr.com/photos/mattcoulon/"
                           title="Lien vers le Flickr de Matthieu Coulon">
                            <img class="img-responsive" src="{{ asset("img/team/v1/matthieu_coulon.jpg") }}"
                                 alt="Photo de Matthieu Coulon">
                        </a>
                    </div>
                    <div class="col-lg-10">
                        <p>Développeur Full-Stack</p>
                        <p class="text-justify">
                            Depuis le début du lycée, l'informatique fait partie de mes passions. Le développement Web
                            et Android prennent une grand part dans mes préférences informatiques. J'aime également
                            beaucoup la photographie et le café !
                        </p>
                        <div class="row">
                            <div class="col-lg-1">
                                <a href="https://twitter.com/MattMatt_C" title="Lien Twitter de Matthieu">
                                    <img src="{{ asset('img/twitter.png') }}" alt="Logo de Twitter"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="https://github.com/mattSam" title="Lien Github de Matthieu">
                                    <img src="{{ asset('img/github.png') }}" alt="Logo de Github"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="https://www.flickr.com/photos/mattcoulon/" title="Lien Flickr de Matthieu">
                                    <img src="{{ asset('img/flickr.png') }}" alt="Logo de Flickr"
                                         class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row panel panel-default">
            <div class="col-lg-12">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="panel-title-content">Valentin Crochemore</span>
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="col-lg-2">
                        <a href="http://valentincrochemore.fr/" title="Lien vers le site personnel de Valentin Crochemore">
                            <img class="img-responsive" src="{{ asset("img/team/v1/valentin_crochemore.png") }}"
                                 alt="Avatar de Valentin Crochemore">
                        </a>
                    </div>
                    <div class="col-lg-10">
                        <p>Développeur Full-Stack</p>
                        <p class="text-justify">

                        </p>
                        <div class="row">
                            <div class="col-lg-1">
                                <a href="http://valentincrochemore.fr/" title="Lien vers le site personnel de Valentin">
                                    <img src="{{ asset('img/web.png') }}" alt="Logo Web"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="https://twitter.com/CrochVal" title="Lien Twitter de Valentin">
                                    <img src="{{ asset('img/twitter.png') }}" alt="Logo de Twitter"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="https://fr.linkedin.com/in/valentin-crochemore-74442ba8"
                                   title="Lien Linkedin de Valentin">
                                    <img src="{{ asset('img/linkedin.png') }}" alt="Logo de Linkedin"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="https://github.com/ValentinCro" title="Lien Github de Valentin">
                                    <img src="{{ asset('img/github.png') }}" alt="Logo de Github"
                                         class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row panel panel-default">
            <div class="col-lg-12">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="panel-title-content">Yoann Fleury</span>
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="col-lg-2">
                        <a href="http://yoannfleury.eu" title="Lien vers le site personnel de Yoann Fleury">
                            <img class="img-responsive" src="{{ asset("img/team/v1/yoann_fleury.png") }}"
                                 alt="Avatar de Yoann Fleury">
                        </a>
                    </div>
                    <div class="col-lg-10">
                        <p>Développeur Full-Stack</p>
                        <p class="text-justify">
                            Je suis passionné par le développement depuis la fin de terminale. Mes
                            spécialités sont le développement PHP et la bidouille sous Linux. Je me
                            dirige donc vers le web qui me passionne par son nombre de technologies
                            croissant chaque jour.
                        </p>
                        <div class="row">
                            <div class="col-lg-1">
                                <a href="http://yoannfleury.eu" title="Lien vers le site personnel de Yoann">
                                    <img src="{{ asset('img/yoann_fleury.gif') }}" alt="Logo du site de Yoann Fleury"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="https://twitter.com/yoannfleurydev" title="Lien Twitter de Yoann">
                                    <img src="{{ asset('img/twitter.png') }}" alt="Logo de Twitter"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="https://plus.google.com/+YoannFleury" title="Lien Google Plus de Yoann">
                                    <img src="{{ asset('img/plus.png') }}" alt="Logo de Google Plus"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="https://fr.linkedin.com/in/yoannfleurydev"
                                   title="Lien Linkedin de Yoann">
                                    <img src="{{ asset('img/linkedin.png') }}" alt="Logo de Linkedin"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="https://github.com/yoannfleurydev" title="Lien Github de Yoann">
                                    <img src="{{ asset('img/github.png') }}" alt="Logo de Github"
                                         class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row panel panel-default">
            <div class="col-lg-12">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="panel-title-content">Mohamed Ibrihen</span>
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="col-lg-2">
                        <a href="mailto:med.ibrihen@gmail.com" title="Envoyer un Email à Mohamed Ibrihen">
                            <img class="img-responsive" src="{{ asset("img/team/v1/mohamed_ibrihen.png") }}"
                                 alt="Avatar de Mohamed Ibrihen">
                        </a>
                    </div>
                    <div class="col-lg-10">
                        <p>Développeur Web</p>
                        <p class="text-justify">
                        </p>
                        <div class="row">
                            <div class="col-lg-1">
                                <a href="https://twitter.com/Sangimed" title="Lien Twitter de Mohamed">
                                    <img src="{{ asset('img/twitter.png') }}" alt="Logo de Twitter"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="https://www.linkedin.com/in/mohamedibrihen"
                                   title="Lien Linkedin de Mohamed">
                                    <img src="{{ asset('img/linkedin.png') }}" alt="Logo de Linkedin"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="https://github.com/sangimed" title="Lien Github de Mohamed">
                                    <img src="{{ asset('img/github.png') }}" alt="Logo de Github"
                                         class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
