{% extends "AGILDefaultBundle::baseDefaultBundle.html.twig" %}
{% block body %}
    <section id="teamV1">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-xs-12 col-lg-4">
                <div class="thumbnail">
                    <a href="http://www.quentin-brodier.com/" title="Lien vers le site personnel de Quentin Brodier">
                        <img src="{{ asset('img/team/v1/quentin_brodier.jpg') }}" alt="Photo de Quentin Brodier" width="180px">
                    </a>
                    <div class="caption">
                        <h4>Quentin Brodier</h4>
                        <p>Développeur Full-Stack</p>
                        <p class="text-justify">
                            Le web est le domaine de l'informatique qui me passionne le plus. Ce dernier est énormément
                            présent et évolue si rapidement ! De nombreuses technologies gravitent autour de ce domaine
                            et c'est avec curiosité que j'essaye de toutes les explorer. Mon autre passion principale
                            est la batterie, où je fais parti d'un groupe dans lequel j'aime m'investir.
                        </p>
                        <p>
                            <a class="label-link" href="http://www.quentin-brodier.com/" title="Lien vers le site personnel de Quentin">
                                <img class="img-logo" src="{{ asset('img/quentin_brodier.png') }}" alt="Logo du site de Quentin Brodier" width="40px">
                            </a>
                            <a class="label-link"  href="https://twitter.com/KaotiikDrummer" title="Lien Twitter de Quentin">
                                <img class="img-logo" src="{{ asset('img/twitter.png') }}" alt="Logo de Twitter" width="40px">
                            </a>
                            <a class="label-link"  href="https://fr.linkedin.com/in/quentin-brodier-994594108" title="Lien Linkedin de Quentin">
                                <img class="img-logo" src="{{ asset('img/linkedin.png') }}" alt="Logo de Linkedin" width="40px">
                            </a>
                            <a class="label-link"  href="https://github.com/QuentinBrodier" title="Lien Github de Quentin">
                                <img class="img-logo" src="{{ asset('img/github.png') }}" alt="Logo de Github" width="40px">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-xs-12 col-lg-4">
                <div class="thumbnail">
                    <a href="http://yoannfleury.eu" title="Lien vers le site personnel de Yoann Fleury">
                        <img src="{{ asset("img/team/v1/yoann_fleury.png") }}" alt="Avatar de Yoann Fleury">
                    </a>
                    <div class="caption">
                        <h4>Yoann Fleury</h4>
                        <p>Développeur Full-Stack</p>
                        <p class="text-justify">
                            Je suis passionné par le développement depuis la fin de terminale. Mes
                            spécialités sont le développement PHP et la bidouille sous Linux. Je me
                            dirige donc vers le web qui me passionne par son nombre de technologies
                            croissant chaque jour.
                        </p>
                        <p>
                            <a class="label-link"  href="http://yoannfleury.eu" title="Lien vers le site personnel de Yoann">
                                <img class="img-logo" src="{{ asset('img/yoann_fleury.gif') }}" alt="Logo du site de Yoann Fleury" width="40px">
                            </a>
                            <a class="label-link"  href="https://twitter.com/yoannfleurydev" title="Lien Twitter de Yoann">
                                <img class="img-logo" src="{{ asset('img/twitter.png') }}" alt="Logo de Twitter" width="40px">
                            </a>
                            <a class="label-link"  href="https://plus.google.com/+YoannFleury" title="Lien Google Plus de Yoann">
                                <img class="img-logo" src="{{ asset('img/plus.png') }}" alt="Logo de Google Plus" width="40px">
                            </a>
                            <a class="label-link"  href="https://fr.linkedin.com/in/yoann-fleury-67588a80" title="Lien Linkedin de Yoann">
                                <img class="img-logo" src="{{ asset('img/linkedin.png') }}" alt="Logo de Linkedin" width="40px">
                            </a>
                            <a class="label-link"  href="https://github.com/yoannfleurydev" title="Lien Github de Yoann">
                                <img class="img-logo" src="{{ asset('img/github.png') }}" alt="Logo de Github" width="40px">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-xs-12 col-lg-4">
                <div class="thumbnail">
                    <a href="http://valentincrochemore.fr">
                        <img src="{{ asset("img/team/v1/valentin_crochemore.png") }}" alt="Avatar de Valentin Crochemore">
                    </a>
                    <div class="caption">
                        <h4>Valentin Crochemore</h4>
                        <p>Développeur Front End</p>
                        <p class="text-justify">
                            Je suis attiré par le web depuis le début de mes études en informatique. Je me suis spécialisé
                            dans le développement web orienté front. Pendant le développement de ce site j'étais en charge du front.
                        </p>
                        <p>
                            <a class="label-link"  href="http://www.valentincrochemore.fr/" title="Lien vers le site personnel de Valentin">
                                <img class="img-logo" src="{{ asset('img/web.png') }}" alt="Site de Valentin Crochemore" width="40px">
                            </a>
                            <a class="label-link"  href="https://twitter.com/CrochVal" title="Lien Twitter de Valentin">
                                <img class="img-logo" src="{{ asset('img/twitter.png') }}" alt="Logo de Twitter" width="40px">
                            </a>
                            <a class="label-link"  href="https://plus.google.com/u/0/100393642295445966166/posts" title="Lien Google Plus de Valentin">
                                <img class="img-logo" src="{{ asset('img/plus.png') }}" alt="Logo de Google Plus" width="40px">
                            </a>
                            <a class="label-link"  href="https://www.linkedin.com/in/valentin-crochemore-74442ba8" title="Lien Linkedin de Valentin">
                                <img class="img-logo" src="{{ asset('img/linkedin.png') }}" alt="Logo de Linkedin" width="40px">
                            </a>
                            <a class="label-link"  href="https://github.com/ValentinCro" title="Lien Github de Valentin">
                                <img class="img-logo" src="{{ asset('img/github.png') }}" alt="Logo de Github" width="40px">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-xs-12 col-lg-4">
                <div class="thumbnail">
                    <a href="https://twitter.com/MattMatt_C">
                        <img src="{{ asset("img/team/v1/matthieu_coulon.jpg") }}"
                             alt="Photo de Matthieu Coulon"
                             width="180px"
                        >
                    </a>
                    <div class="caption">
                        <h4>Matthieu Coulon</h4>
                        <p>Développeur Back End</p>
                        <p class="text-justify">
                            Depuis le début du lycée, l'informatique fait partie de mes passions. Le développement Web
                            et Android prennent une grand part dans mes préférences informatiques. J'aime également
                            beaucoup la photographie et le café !
                        </p>
                        <p>
                            <a class="label-link" href="https://twitter.com/MattMatt_C" title="Lien Twitter de Matthieu">
                                <img class="img-logo" src="{{ asset('img/twitter.png') }}" alt="Logo de Twitter" width="40px">
                            </a>
                            <a class="label-link" href="https://github.com/mattSam" title="Lien Github de Matthieu">
                                <img class="img-logo" src="{{ asset('img/github.png') }}" alt="Logo de Github" width="40px">
                            </a>
                            <a class="label-link" href="https://www.flickr.com/photos/mattcoulon/" title="Lien Flickr de Matthieu">
                                <img class="img-logo" src="{{ asset('img/flickr.png') }}" alt="Logo de Flcikr" width="40px">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-xs-12 col-lg-4">
                <div class="thumbnail">
                    <a href="http://www.vincent-berniere.com/" title="Lien vers le site personnel de Vincent Bernière">
                        <img src="{{ asset("img/team/v1/vincent_berniere.png") }}" alt="Avatar de Vincent Bernière">
                    </a>
                    <div class="caption">
                        <h4>Vincent Bernière</h4>
                        <p>Développeur Back-End</p>
                        <p class="text-justify">
                            Éternel passionné des nouvelles technologies, je me suis pris d'affection pour le
                            développement web qui est un domaine qui évolue constamment. Avec les années, je me
                            suis surtout exercé au développement PHP et JavaScript, ainsi qu'a la maîtrise de
                            frameworks tels que Symfony, et bien plus par la suite...
                        </p>
                        <p>
                            <a class="label-link"  href="http://www.vincent-berniere.com/" title="Lien vers le site personnel de Vincent">
                                <img class="img-logo" src="{{ asset('img/vincent_berniere.png') }}" alt="Logo du site de Vincent berniere" width="40px">
                            </a>
                            <a class="label-link"  href="http://twitter.com/BerniereVincent" title="Lien Twitter de Vincent">
                                <img class="img-logo" src="{{ asset('img/twitter.png') }}" alt="Logo de Twitter" width="40px">
                            </a>
                            <a class="label-link"  href="https://plus.google.com/112039949071010077835" title="Lien Google Plus de Vincent">
                                <img class="img-logo" src="{{ asset('img/plus.png') }}" alt="Logo de Google Plus" width="40px">
                            </a>
                            <a class="label-link"  href="https://github.com/VincentBerniere" title="Lien Github de Vincent">
                                <img class="img-logo" src="{{ asset('img/github.png') }}" alt="Logo de Github" width="40px">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-xs-12 col-lg-4">
                <div class="thumbnail">
                    <a href="mailto:med.ibrihen@gmail.com" title="Envoyer un Email à Mohamed Ibrihen">
                        <img src="{{ asset("img/team/v1/mohamed_ibrihen.png") }}"
                             alt="Avatar de Mohamed Ibrihen">
                    </a>
                    <div class="caption">
                        <h4>Mohamed Ibrihen</h4>
                        <p>Développeur Web</p>
                        <p>
                            <a href="https://twitter.com/Sangimed" title="Lien Twitter de Mohamed" class="label-link">
                                <img class="img-logo" src="{{ asset('img/twitter.png') }}" alt="Logo de Twitter" width="40px">
                            </a>
                            <a href="https://www.linkedin.com/in/mohamedibrihen"
                               title="Lien Linkedin de Mohamed" class="label-link">
                                <img class="img-logo" src="{{ asset('img/linkedin.png') }}" alt="Logo de Linkedin" width="40px">
                            </a>
                            <a href="https://github.com/sangimed" title="Lien Github de Mohamed" class="label-link">
                                <img class="img-logo" src="{{ asset('img/github.png') }}" alt="Logo de Github" width="40px">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
