{% extends "AGILDefaultBundle::baseDefaultBundle.html.twig" %}
{% block body %}
        <section id="teamV1">
            <div class="media">
                <div class="media-left">
                    <a href="http://www.vincent-berniere.com/">
                        <img class="media-object" src="{{ asset("img/team/v1/yoann_fleury.png") }}" alt="Avatar de Vincent Bernière">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Vincent Bernière</h4>
                    <p>Développeur back end</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="http://www.quentin-brodier.com/">
                        <img class="media-object" src="{{ asset("img/team/v1/yoann_fleury.png") }}" alt="Avatar de Quentin Brodier">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Quentin Brodier</h4>
                    <p>Développeur back end</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="{{ asset("img/team/v1/yoann_fleury.png") }}" alt="Avatar de Matthieu Coulon">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Matthieu Coulon</h4>
                    <p>Développeur back end</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="http://valentincrochemore.fr">
                        <img class="media-object" src="{{ asset("img/team/v1/yoann_fleury.png") }}" alt="Avatar de Valentin Crochemore">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Valentin Crochemore</h4>
                    <p>Développeur front end</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="http://yoannfleury.eu">
                        <img class="media-object" src="{{ asset("img/team/v1/yoann_fleury.png") }}" alt="Avatar de Yoann Fleury">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Yoann Fleury</h4>
                    <p>Chef de projet - Développeur back end</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="http://twitter.com/sangimed">
                        <img class="media-object" src="{{ asset("img/team/v1/yoann_fleury.png") }}" alt="Avatar de Mohamed Ibrihen">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Mohamed Ibrihen</h4>
                    <p>Développeur back end</p>
                </div>
            </div>
        </section>
{% endblock %}
