{% extends "AGILOfferBundle::baseOfferBundle.html.twig" %}
{% block title %}Offres | Ajout d'offre{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <span class="panel-title-content">
                        Ajout d'une annonce
                    </span>
                </h2>
            </div>
            <div class="panel-body">
                {{ form_start(form) }}
                    <div class="form-group required">
                        <label class="control-label">Titre de l'annonce</label>
                        {{ form_errors(form.offerTitle) }}
                        {{ form_widget(form.offerTitle) }}
                    </div>

                    <div class="form-group">
                        <label class="control-label">Auteur de l'annonce</label>
                        {{ form_errors(form.offerAuthor) }}
                        {{ form_widget(form.offerAuthor) }}
                    </div>

                    <div class="form-group required">
                        <label class="control-label">Adresse mail de contact</label>
                        {{ form_errors(form.offerEmail) }}
                        {{ form_widget(form.offerEmail) }}
                    </div>

                    <div class="form-group">
                        <label class="control-label">Description de l'annonce</label>
                        {{ form_errors(form.offerText) }}
                        {{ form_widget(form.offerText) }}
                    </div>

                    <div class="form-group" id="formAddTagsPost">
                        <label class="control-label">Tags</label>
                        <div class="tag_control">
                            <div class="list_item_tag">
                            </div>
                            <input type="text" class="tags_input_visible">
                        </div>
                        {{ form_errors(form.tags) }}
                        {{ form_widget(form.tags, { 'id': 'tags_input' }) }}
                        <div id="tags_container"></div>
                    </div>

                    <div class="form-group required">
                        <label class="control-label">Type de contrat</label>
                        {{ form_errors(form.offerType) }}
                        {{ form_widget(form.offerType) }}
                    </div>

                    <div class="form-group">
                        {{ form_errors(form.offerPdfUrl) }}
                        {{ form_widget(form.offerPdfUrl) }}
                        <p><i>(Format autorisé: PDF)</i></p>
                    </div>

                    <div class="form-group required">
                        <label class="control-label">Expiration de l'annonce dans : </label>
                        {{ form_errors(form.expireAt) }}
                        {{ form_widget(form.expireAt) }}
                    </div>

                    <div class="form-group">
                        {{ form_widget(form.Ajouter) }}
                        <a class="btn btn-default" href="{{ path('agil_offer_homepage') }}">Annuler</a>
                    </div>

                    <p class="asterisk">(* : obligatoire)</p>

                    {{ tinymce_init() }}
                    {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
