{% extends "AGILOfferBundle::baseOfferBundle.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                    <span class="panel-title-content">
                        Modifier l'annonce
                    </span>
                    </h2>
                </div>
                <div class="panel-body">
                    {{ form_start(form) }}
                        <div class="form-group required">
                            <label class="control-label">Titre de l'annonce</label>
                            {{ form_errors(form.offerTitle) }}
                            {{ form_widget(form.offerTitle) }}
                        </div>

                        <div class="form-group">
                            <label class="control-label">Auteur de l'annonce</label>
                            {{ form_errors(form.offerAuthor) }}
                            {{ form_widget(form.offerAuthor) }}
                        </div>

                        <div class="form-group required">
                            <label class="control-label">Adresse mail de contact</label>
                            {{ form_errors(form.offerEmail) }}
                            {{ form_widget(form.offerEmail) }}
                        </div>

                        <div class="form-group">
                            <label class="control-label">Description de l'annonce</label>
                            {{ form_errors(form.offerText) }}
                            {{ form_widget(form.offerText) }}
                        </div>

                        <div class="form-group" id="formAddTagsPost">
                            <label class="control-label"><h5>Tags</h5></label>
                            <div class="tag_control">
                                <div class="list_item_tag">
                                </div>
                                <input type="text" class="tags_input_visible">
                            </div>
                            {{ form_errors(form.tags) }}
                            {{ form_widget(form.tags, { 'id': 'tags_input' }) }}
                            <div id="tags_container"></div>
                        </div>

                        <div class="form-group required">
                            <label class="control-label">Type de contrat</label>
                            {{ form_errors(form.offerType) }}
                            {{ form_widget(form.offerType) }}
                        </div>

                        <a href="{{ asset("img/offer/") ~ offer.offerPdfUrl }}" TARGET="_BLANK">Annonce.pdf</a>

                        <div class="form-group">
                            {{ form_errors(form.offerPdfUrl) }}
                            {{ form_widget(form.offerPdfUrl) }}
                            <p><i>(Format: PDF)</i></p>
                        </div>

                        <div class="form-group required">
                            <label class="control-label">Expiration de l'annonce dans :</label>
                            {{ form_errors(form.offerExpirationDate) }}
                            <div class="row">
                                <div class="col-lg-1 col-sm-2 col-xs-2 col-md-2">
                                    {{ form_widget(form.offerExpirationDate.date.day, {attr : {class: 'form-control'}}) }}
                                </div>
                                <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
                                    {{ form_widget(form.offerExpirationDate.date.month, {attr : {class: 'form-control'}}) }}
                                </div>
                                <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
                                    {{ form_widget(form.offerExpirationDate.date.year, {attr : {class: 'form-control'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_widget(form.Modifier) }}

                            <a class="btn btn-default" href="{{ path('agil_offer_view',{'id':offer.offerId}) }}">Annuler</a>

                            <button id="deleteCategoryLink"
                                    data-href="{{ path('agil_offer_delete',{'idCrypt':offer.offerRoute}) }}"
                                    data-target="#confirm-delete" type="button"
                                    class="btn btn-danger glyphicon glyphicon-trash" data-toggle="modal">
                            </button>
                        </div>

                        <p class="asterisk">(* : obligatoire)</p>
                        {{ tinymce_init() }}
                        {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <!-- Panel qui s'affiche pour la confirmation de suppression -->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5>Etes vous sûr ?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-danger btn-ok">Confirmer</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
