<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Amicale GIL!{% endblock %}</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="{{ asset("css/styles.css") }}" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ asset("js/bootstrap.js") }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!--<button class="navbar-brand hamburger"><span class="glyphicon glyphicon-arrow-right animate"></span></button>-->
                <button class="navbar-brand hamburger">
                    <span class="bar up animate"></span>
                    <span class="bar"></span>
                    <span class="bar bottom animate"></span>
                </button>
                <a href="#"><img class="img-responsive navbar-mobile" src="{{ asset("images/logo.png") }}" alt="logo univ" width="95px"></a>
                <a href="#" class="navbar-mobile">AGIL</a>
                <li class="dropdown navbar-dropdown-mobile right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img class="img-circle img-responsive" src="{{ asset("images/placeholder/nephi.png") }}" width="50px"></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="">
                                <span class="glyphicon glyphicon-user"></span> Profil
                            </a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-cog"></span> Paramètre de profil</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-off"></span> Déconnexion</a>
                        </li>
                    </ul>
                </li>
                <a href="#" class="navbar-mobile right"><span class="glyphicon glyphicon-search"></span></a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <aside class="sidebar">
            <nav class="nav">
                <ul class="nav-items">
                    <li class="nav-title">Navigation</li>
                    <li><a href="http://amicale.valentincrochemore.fr" class="nav-link nav-link-active">
                            <span class="glyphicon glyphicon-home"></span>
                            Accueil
                        </a></li>
                    <li><a href="#" class="nav-link">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            Annonces
                        </a></li>
                    <li><a href="#" class="nav-link">
                            <span class="glyphicon glyphicon-picture"></span>
                            Hall
                        </a></li>
                    <li><a href="#" class="nav-link">
                            <span class="glyphicon glyphicon-comment"></span>
                            Salon
                        </a></li>
                    <li><a href="#" class="nav-link">
                            <span class="glyphicon glyphicon-calendar"></span>
                            Agenda</a></li>
                </ul>
                <div class="sidebar-separator"></div>
                <ul class="nav-items">
                    <li class="nav-title">Liens utiles</li>
                    <li><a href="#" class="nav-link">Ent</a></li>
                    <li><a href="#" class="nav-link">Webmail</a></li>
                </ul>
            </nav>
        </aside>
    {% block body %}{% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <p>
                        Copyright université de rouen. Site développé par sept étudiants de l'université de rouen
                        dans le cadre d'un projet universitaire.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{{ asset('js/menu.js') }}"></script>
</body>
</html>