<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Amicale GIL{% endblock %}</title>
    <link href="{{ asset("css/styles.css") }}" rel="stylesheet">
    <script type="text/javascript" src="{{ asset("js/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/bootstrap.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/bootstrap/popover.js") }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% block stylesheets %}{% endblock %}
    {% block javascript %}{% endblock %}

    <!-- import pour le calendrier -->
    <script type="text/javascript" src="{{ asset('js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/calendarMain.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/fullcalendar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/fr.js') }}"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('favicon/apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('favicon/apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('favicon/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('favicon/apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('favicon/apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('favicon/apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('favicon/apple-touch-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('favicon/apple-touch-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon-180x180.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('favicon/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('favicon/android-chrome-192x192.png') }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ asset('favicon/favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ asset('favicon/favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ asset('favicon/manifest.json') }}">
    <link rel="mask-icon" color="#5bbad5" href="{{ asset('favicon/safari-pinned-tab.svg') }}">
    <meta name="msapplication-TileImage" content="{{ asset('favicon/mstile-144x144.png') }}">
    <meta name="msapplication-TileColor" content="#34495f">
    <meta name="theme-color" content="#34495f">

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-brand hamburger">
                    <span class="bar up animate"></span>
                    <span class="bar"></span>
                    <span class="bar bottom animate"></span>
                </button>
                <a class="hidden-xs hidden-sm" href="http://www.univ-rouen.fr"><img id="logo-university" class="img-responsive navbar-mobile" src="{{ asset("img/logo.png") }}" alt="logo univ"></a>
                <div id="logo-agil">
                    <a href="{{ path("agil_default_homepage") }}"><img class="img-responsive navbar-mobile" src="{{ asset("favicon/apple-touch-icon-60x60.png") }}" alt="logo agil"></a>
                </div>

                <!--Si non connecté-->
                {% if not is_granted("ROLE_USER") %}
                <a class="navbar-mobile right" href="{{ path("fos_user_security_login") }}" data-toggle="tooltip" data-placement="bottom" title="Se connecter"><span class="glyphicon glyphicon-log-in"></span></a>
                {% else %}
                <!--Si connecté-->

                <div class="dropdown navbar-dropdown-mobile right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img class="img-circle img-responsive" src="{{ asset("img/profile/") ~ app.user.userProfilePictureUrl }}" width="50" alt="Photo de profil">
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="{{ path('agil_profile_id', {id : app.user.id}) }}">
                                <i class="material-icons">account_circle</i> Profil
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="{{ path("fos_user_security_logout") }}"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a>
                        </li>
                    </ul>
                </div>

                {% endif %}
                <div class="navbar-mobile right dropdown">
                    <button class="btn btn-unstyled dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="material-icons">search</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right search-bar" aria-labelledby="dropdownMenu1">
                        <li>
                            {{ form_start(formSearchBar, {'action' : path('agil_search_homepage'),'method': 'GET'}) }}
                                <div class="input-group">
                                {{ form_widget(formSearchBar.tags) }}
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">Rechercher</button>
                                    </span>
                                </div>
                            {{ form_end(formSearchBar) }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <aside class="sidebar">
            <nav class="nav">
                <ul class="nav-items">
                    <li class="nav-title">Navigation</li>
                    <li>
                        <a href="{{ path("agil_default_homepage") }}" class="nav-link {% if isActive == "accueil" %} nav-link-active {% endif %}" title="Accueil">
                            <span class="glyphicon glyphicon-home"></span>
                            Accueil
                        </a>
                    </li>

                    {% if is_granted("ROLE_USER") %}
                    <li>
                        <a href="{{ path('agil_offer_homepage') }}" class="nav-link {% if isActive == "annonces" %} nav-link-active {% endif %}" title="Annonces">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            Annonces
                        </a>
                    </li>


                    <li>
                        <a href="{{ path('agil_forum_homepage') }}" class="nav-link {% if isActive == "forum" %} nav-link-active {% endif %}" title="Forum">
                            <span class="glyphicon glyphicon-th-list"></span>
                            Forum
                        </a>
                    </li>
                    {% else %}
                        <li>
                            <a href="{{ path('agil_offer_add') }}" class="nav-link {% if isActive == "annonces" %} nav-link-active {% endif %}" title="Annonces">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                Annonces
                            </a>
                        </li>
                    {% endif %}

                    <li><a href="{{ path('agil_hall_homepage') }}" class="nav-link {% if isActive == "hall" %} nav-link-active {% endif %}" title="Hall">
                            <span class="glyphicon glyphicon-picture"></span>
                            Hall
                        </a>
                    </li>
                    {% if is_granted("ROLE_USER") %}
                        <li>
                            <a href="#" class="nav-link {% if isActive == "salon" %} nav-link-active {% endif %}">
                                <span class="glyphicon glyphicon-comment"></span>
                                Salon
                            </a>
                        </li>
                        <li>
                            <a href="{{ path("agil_hall_calendar") }}" class="nav-link {% if isActive == "calendrier" %} nav-link-active {% endif %}">
                                <span class="glyphicon glyphicon-calendar"></span>
                                Agenda
                            </a>
                        </li>
                        <li>
                            <a href="{{ path("agil_search_homepage") }}" class="nav-link {% if isActive == "search" %} nav-link-active {% endif %}">
                                <span class="material-icons">search</span>
                                Recherche
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <li>
                            <a href="{{ path('agil_admin_homepage') }}" class="nav-link {% if isActive == "admin" %} nav-link-active {% endif %}">
                                <span class="glyphicon glyphicon-wrench"></span>
                                Administration
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <div class="sidebar-separator"></div>
                <ul class="nav-items">
                    <li class="nav-title">Liens utiles</li>
                    <li><a href="https://ent.univ-rouen.fr" class="nav-link external" target="_blank" title="Accès à l'ENT">Ent</a></li>
                    <li><a href="https://webmail.univ-rouen.fr" class="nav-link external" target="_blank" title="Accès au Webmail">Webmail</a></li>
                </ul>
            </nav>
        </aside>
    </nav>
    <div class="container">
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="row">
                    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-12">
                        <div class="alert alert-dismissible alert-{{ type }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    {% block body %}{% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="footer-title">Amicale GIL</div>
                        </div>
                        <div class="panel-body">
                            <p>&copy; Université de Rouen. Site développé par 7 étudiants de l'Université de Rouen dans le cadre d'un projet universitaire.</p>
                            <a class="btn btn-primary" href="{{ path('agil_default_credits') }}">Crédits</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('js/menu.js') }}"></script>
    <script src="{{ asset('js/bootstrap/collapse.js') }}"></script>
    <script src="{{ asset('js/bootstrap/tooltip.js') }}"></script>
    <script src="{{ asset('js/forum.js') }}"></script>
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/fullcalendar.js') }}"></script>
    <script src="{{ asset('js/calendarMain.js') }}"></script>
    <script src="{{ asset('js/fr.js') }}"></script>
    {% block botJavascript %}{% endblock %}
</body>
</html>