{% extends 'AGILForumBundle::baseForumBundle.html.twig' %}


{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('agil_forum_homepage') }}">Accueil Forum</a></li>
        <li class="active">{{ category.forumCategoryName }}</li>
    </ol>

    <div class="row panel">


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="panel-heading">
        <h2 class="panel-title">
            <span class="panel-title-content">{{ category.forumCategoryName }}</span>
        </h2>
    </div>
    <div><a href="{{ path('agil_forum_subject_add',{'idCategory' : category.forumCategoryId} ) }}"
            class="btn btn-primary">Nouveau Sujet</a></div></br>
    {% if subjects|length != 0 %}
        <table class="table panel" id="table-subjects">
            <!-- On rows -->
            <tr class="primary-blue text-white">
                <th></th>
                <th> Sujet</th>
                <th class="hidden-xs"> Auteur</th>
                <th class="hidden-xs"> Nb messages</th>
                <th> Date</th>
                <th><span class="glyphicon glyphicon-trash"></span></th>
            </tr>

            {% for s in subjects %}

                <tr>
                    <td class="vert-align text-center">
                        {% if s.forumSubjectIsResolved %}
                            <span class="glyphicon glyphicon-ok icon-medium icon-succes"></span>

                        {% else %}
                            <span class="glyphicon glyphicon-minus icon-medium"></span>
                        {% endif %}
                    </td>
                    <td class="vert-align">
                        <a href="{{ path('agil_forum_subject_answers',{'idCategory' : category.forumCategoryId, 'idSubject' : s.forumSubjectId} ) }}">
                            <h6 class="no-margin-top-bot text-orange"><strong>{{ s.forumSubjectTitle }}</strong></h6>
                        </a>
                        <span class="text-left hidden-xs text-justify"><em>{{ s.forumSubjectDescription }}</em></span>
                        <div class="">
                            {% for tag in tagsPerSubject[s.forumSubjectId] %}
                                <span class="label {{ tag.tagColor }}">{{ tag.tagName }}</span>
                            {% endfor %}
                        </div>
                    </td>
                    <td class="vert-align hidden-xs"><a
                                href="{{ path('agil_profile_id',{'id':s.id}) }}">{{ s.username }}</a></td>
                    <td class="vert-align hidden-xs">{{ countAnswers[s.forumSubjectId] }}</td>
                    <td class="vert-align">
                        <div class="hidden-xs hidden-sm">Créé le {{ s.forumSubjectPostDate|date('j M Y') }}</div>
                        Actif il y a <span
                                class="text-primary-blue"><strong>{{ relativeDate[s.forumSubjectId] }}</strong></span>
                    </td>

                    {% if ((is_granted('ROLE_MODERATOR')) or (app.user.username == s.username)) %}
                        <td class="vert-align"><a id="deleteSubjectLink" name="deleteSubjectLink"
                                                  href="{{ path('agil_forum_subject_delete',{'idCategory' : category.forumCategoryId, 'idSubject' : s.forumSubjectId}) }}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>

            {% endfor %}

        </table>
        </div>

        <nav class="text-center">
            {% include 'AGILForumBundle:Categories:pagination.html.twig' %}
        </nav>

    {% else %}

        </div>
        <br/>
        <h6 class="text-center">
            Cette catégorie ne contient actuellement aucun sujet.
            Vous pouvez en créer un à partir du bouton "Nouveau sujet".
        </h6>
        <br/>

    {% endif %}

    </div>


{% endblock %}