{% extends '::base.html.twig' %}


{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('agil_forum_homepage') }}">Accueil Forum</a></li>
        <li class="active">{{ category.forumCategoryName }}</li>
    </ol>

    <div class="row panel">


        <div class="col-md-12">

            <div class="panel-heading">
                <h2 class="panel-title">
                    <span class="panel-title-content">{{ category.forumCategoryName }}</span>
                </h2>
            </div>

        {% if subjects|length != 0 %}

                <table class="table table-striped panel">
                    <!-- On rows -->
                    <th></th>
                    <th> Sujet</th>
                    <th> Auteur</th>
                    <th> Nb messages</th>
                    <th> Date</th>


                    {% for s in subjects %}

                        <tr>
                            <td class="vert-align text-center"><span class="glyphicon glyphicon-minus icon-medium"></span> </td>
                            <td class="vert-align">
                                <a href="{{ path('agil_forum_subject_answers',{'idCategory' : category.forumCategoryId, 'idSubject' : s.forumSubjectId} ) }}">
                                    <h6>{{ s.forumSubjectTitle }}</h6>
                                </a>
                                <span class="text-left"><em>{{ s.forumSubjectDescription }}</em></span>
                            </td>
                            <td class="vert-align"><a href="#">{{ s.username }}</a></td>
                            <td class="vert-align">{{ countAnswers[s.forumSubjectId] }}</td>
                            <td class="vert-align">Créé le {{ s.forumAnswerPostDate|date('j M Y') }}<br/>Actif il y a {{ relativeDate[s.forumSubjectId] }}</td>
                        </tr>

                    {% endfor %}

                </table>
            </div>

            <nav class="text-center">
                {% include 'AGILForumBundle:Default:pagination.html.twig' %}
            </nav>

        {% else %}

            </div>
            <br/>
            <h6 class="text-center">
                Cette catégorie ne contient actuellement aucun sujet.
                Vous pouvez en créer un à partir du bouton "Nouveau sujet".
            </h6>
            <br/>

        {% endif %}

    </div>


{% endblock %}