{% extends "AGILHallBundle::baseHallBundle.html.twig" %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                <p><a class="btn btn-primary" href="{{ path('agil_hall_event_add') }}">Ajouter un événement</a></p>
            </div>
        </div>
    {% endif %}

    {% for event in events %}
        <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
            <div class="card-events">
                <div class="row">
                    {% if not is_granted("ROLE_ADMIN") %}
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {% else %}
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            {% endif %}
                            <h5>
                                <a href="{{ path('agil_hall_event',{'idEvent' : event.eventId}) }}">
                                    {{ event.eventTitle }}
                                </a>
                            </h5>
                            <p>
                                {{ event.eventText|slice(0, 180) }}
                                {% if event.eventText|length > 180 %}
                                    ...
                                {% endif %}
                            </p>
                            <p>
                            <h6>{{ event.eventPostDate | localizeddate('none', 'none', null, null, 'd LLL Y') }}</h6></p>
                            {% for tag in event.tags %}
                                <a href="{{ path('agil_search_homepage',{'tags':tag.tagName}) }}"><span class="label {{ tag.tagColor }}">{{ tag.tagName|upper }}</span></a>
                            {% endfor %}
                        </div>
                        {% if is_granted("ROLE_ADMIN") %}

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 vcenter">
                                <a class="btn btn-primary" role="button"
                                   href="{{ path('agil_hall_event_edit', {'idEvent': event.eventId}) }}">Editer</a>
                                <a class="btn btn-default"
                                   href="{{ path('agil_hall_event_delete', {'idEvent': event.eventId}) }}"
                                   role="button">Supprimer</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if pagination.pages_count>1 %}
        <nav class="text-center">
            {% include 'AGILHallBundle:Default:pagination.html.twig' %}
        </nav>
    {% endif %}
{% endblock %}