{% extends "AGILHallBundle::baseHallBundle.html.twig" %}

{% block body %}
    {% if is_granted("ROLE_USER") %}
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                <a class="btn btn-primary" href="{{ path('agil_hall_event_add') }}">Ajouter un événement</a>
            </div>
        </div>
    {% endif %}

    {% for event in events %}
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                <div class="card-events">
                    <div class="row">
                        {% if not is_granted("ROLE_USER") %}
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {% else %}
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        {% endif %}
                            <p><h5>
                                <a href="{{ path('agil_hall_event',{'idEvent' : event.eventId}) }}">{{ event.eventTitle }}</a>
                            </h5></p>
                            <p><h6><em>{{ event.eventText }}</em></h6></p>
                            <p><h6>{{ event.eventPostDate | date('j M Y') }}</h6></p>
                        </div>
                        {% if is_granted("ROLE_USER") %}

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 vcenter">
                                <a class="btn btn-primary" role="button"
                                   href="{{ path('agil_hall_event_edit', {'idEvent': event.eventId}) }}">Editer</a>
                                <a class="btn btn-default"
                                   href="{{ path('agil_hall_event_delete', {'idEvent': event.eventId}) }}"
                                   role="button">Supprimer</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <nav class="text-center">
        {% include 'AGILHallBundle:Default:pagination.html.twig' %}
    </nav>
{% endblock %}