{% extends "::base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    {% if user.userProfilePictureUrl is not null %}
                        <img class="img-responsive" src="{{ asset("img/profile/") ~ user.userProfilePictureUrl }}">
                    {% else %}
                        <img class="img-responsive" src="{{ asset("img/profile/default.png") }}">
                    {% endif %}
                </div>
            </div>
        </div>
        {% if user.userFirstName is not null or user.userLastName is not null %}
            <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <h3>{{ user.userFirstName }} {{ user.userLastName }}</h3>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="panel-title-content">
                            Informations générales
                        </span>
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>Adresse mail : {{ user.email }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>Pseudo : {{ user.username }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>CV : <a href="{{ asset("files/cv/") ~ user.userCvUrl }}">Mon CV</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="panel-title-content">
                            Compétences
                        </span>
                    </h2>
                </div>
                <div class="panel-body">
                    {% if profileSkillsCategories is defined %}
                        {% for profileSkillsCategory in profileSkillsCategories %}
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">
                                            <span class="panel-title-content">
                                                {{ profileSkillsCategory.profileSkillsCategoryName }}
                                            </span>
                                        </h2>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            {% for tag in tags %}
                                                {% if tag.skillCategory == profileSkillsCategory %}
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                                {{ tag.tagName }}
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                                <div class="progress">
                                                                    {% for skill in skills %}
                                                                        {% if skill.tag == tag %}
                                                                            <div class="progress-bar" role="progressbar"
                                                                                 aria-valuenow="{{ skill.skillLevel * 10 }}"
                                                                                 aria-valuemin="0"
                                                                                 aria-valuemax="100"
                                                                                 style="width: {{ skill.skillLevel * 10 }}%;">
                                                                                <span class="sr-only">{{ skill.skillLevel * 10 }}
                                                                                    % Complete</span>
                                                                            </div>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

