{% extends 'AGILForumBundle::baseForumBundle.html.twig' %}

{% form_theme form '::form_errors.html.twig' %}

{% block body %}

    <!-- Ajout d'un nouveau sujet -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="panel-title-content">
                          Nouveau sujet
                        </span>
                    </h2>
                </div>
                <div class="panel-body">

                    <!-- Formulaire d'ajout d'un nouveau sujet pour le forum -->

                    <form action="{{ path('agil_forum_subject_add', {'idCategory': idCategory}) }}" method="post" {{ form_enctype(form) }}>

                        <div class="form-group" id="formAddNamePost">
                            <h5><label class="control-label">Nom du sujet</label></h5>
                                {{ form_errors(form.subject.forumSubjectTitle) }}
                                {{ form_widget(form.subject.forumSubjectTitle) }}
                        </div>
                        <div class="form-group" id="formAddDescPost">
                            <h5><label class="control-label">Description</label></h5>
                                {{ form_errors(form.subject.forumSubjectDescription) }}
                                {{ form_widget(form.subject.forumSubjectDescription) }}
                        </div>


                        <div class="form-group" id="formAddTagsPost">
                            <h5><label class="control-label">Tags</label></h5>
                            <div class="tag_control">
                                <div class="list_item_tag">
                                </div>
                                <input type="text" class="tags_input_visible">
                            </div>
                            {{ form_widget(form.subject.tags, { 'id': 'tags_input' }) }}
                            {{ form_errors(form.subject.tags) }}
                            <div id="tags_container"></div>
                        </div>

                        <div class="form-group" id="formAddContentPost">
                            <h5><label class="control-label">Message</label></h5>
                                {{ form_errors(form.forumAnswerText) }}
                                {{ form_widget(form.forumAnswerText) }}
                        </div>

                        <p class="text-center">
                            {{ form_widget(form.Ajouter) }}
                            <a class="btn btn-default" href="{{ path('agil_forum_subjects_list', {'idCategory': idCategory}) }}">Annuler</a>
                        </p>

                        {{ tinymce_init() }}
                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('js/tags.js') }}"></script>
{% endblock %}