{% extends 'AGILForumBundle::baseForumBundle.html.twig' %}

{% form_theme form '::form_errors.html.twig' %}

{% block body %}

    <!-- Ajout d'un nouveau sujet -->
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="panel-title-content">
                          Nouveau sujet
                        </span>
                    </h2>
                </div>
                <div class="panel-body">

                    <!-- Formulaire d'ajout d'un nouveau sujet pour le forum -->
                    <form action="{{ path('agil_forum_subject_add_home') }}" method="post" {{ form_enctype(form) }}>

                        <div class="form-group" id="formCategories">
                            <label for="formCategories" class="control-label"><h5>Catégorie</h5></label><br/>
                            {{ form_errors(form.subject.category) }}
                            {{ form_widget(form.subject.category) }}
                        </div>

                        <div class="form-group" id="formAddNamePost">
                            <label for="inputNamePost" class="control-label"><h5>Nom du sujet</h5></label>
                            {{ form_errors(form.subject.forumSubjectTitle) }}
                            {{ form_widget(form.subject.forumSubjectTitle) }}
                        </div>
                        <div class="form-group" id="formAddDescPost">
                            <label for="inputDescPost" class="control-label"><h5>Description</h5></label>
                            {{ form_errors(form.subject.forumSubjectDescription) }}
                            {{ form_widget(form.subject.forumSubjectDescription) }}
                        </div>

                        <div class="form-group" id="formAddTagsPost">
                            <label for="inputTagsPost" class="control-label"><h5>Tags</h5></label>
                            {{ form_errors(form.subject.tags) }}
                            {{ form_widget(form.subject.tags, { 'id': 'tags_input' }) }}
                            <div id="tags_container"></div>
                        </div>

                        <div class="form-group" id="formAddContentPost">
                            <label for="inputContentPost" class="control-label"><h5>Message</h5></label>
                            {{ form_errors(form.forumAnswerText) }}
                            {{ form_widget(form.forumAnswerText) }}
                        </div>

                        <p class="text-center">
                            {{ form_widget(form.Ajouter) }}
                            <a class="btn btn-default" href="{{ path('agil_forum_homepage') }}">Annuler</a>
                        </p>

                        {{ tinymce_init() }}
                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}