{% extends 'AGILForumBundle::baseForumBundle.html.twig' %}

{% block body %}
    <!-- Suppression du sujet -->
    <div class="row">
        <div class="col-xs-12 col-lg-offset-3 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                    <span class="panel-title-content">
                        Suppression du sujet
                    </span>
                    </h2>
                </div>
                <div class="panel-body">

                    <!-- Formulaire de suppression du post pour le forum -->

                    <form action="{{ path('agil_forum_subject_delete', {'idCategory': idCategory, 'idSubject': idSubject}) }}" method="post" {{ form_enctype(form) }}>
                        <label for="inputNamePost" class="control-label">Sujet : <strong>{{ subject.forumSubjectTitle }}</strong></label>

                        <p>Voulez-vous vraiment supprimer ce sujet?</p>
                        {% if isAdmin == true %}
                            <div class="form-group" id="formAddNamePost">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    {{ form_errors(form.choiceReason) }}
                                    {{ form_label(form.choiceReason) }}
                                    {{ form_widget(form.choiceReason) }}
                                </div>
                            </div>

                            <div class="form-group" id="formAddNamePost">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <p>Message additionnel :</p>
                                    {{ form_row(form.reasonOption) }}
                                </div>
                            </div>
                        {% endif %}

                        <div class="text-center">
                            {{ form_widget(form.Supprimer) }}
                        </div>
                        {{ form_rest(form) }}
                    </form>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <a href="{{ path('agil_forum_subject_answers', {'idCategory': idCategory, 'idSubject': idSubject}) }}">
                                <button class="btn btn-default">Annuler</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}