{% extends 'AGILForumBundle::baseForumBundle.html.twig' %}

{% block body %}
    <!-- Ajout d'un nouveau post -->
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="panel-title-content">
                          Nouveau post
                        </span>
                    </h2>
                </div>
                <div class="panel-body">

                    <!-- Formulaire d'ajout d'un nouveau post pour le forum -->

                    <form action="{{ path('agil_forum_subject_add', {'idCategory': idCategory}) }}" method="post" {{ form_enctype(form) }}>

                        <div class="form-group" id="formAddNamePost">
                            <label for="inputNamePost" class="control-label">Nom du sujet</label>
                                {{ form_errors(form.subject.forumSubjectTitle) }}
                                {{ form_row(form.subject.forumSubjectTitle) }}
                        </div>
                        <div class="form-group" id="formAddDescPost">
                            <label for="inputDescPost" class="control-label">Description</label>
                                {{ form_errors(form.subject.forumSubjectDescription) }}
                                {{ form_row(form.subject.forumSubjectDescription) }}
                        </div>


                        <div class="form-group" id="formAddTagsPost">
                            <label for="inputTagsPost" class="control-label">Tags</label>
                                {{ form_errors(form.subject.tags) }}
                                {{ form_widget(form.subject.tags, { 'id': 'tags_input' }) }}
                            <div id="tags_container"></div>
                        </div>

                        <div class="form-group" id="formAddContentPost">
                            <label for="inputContentPost" class="control-label">  </label>
                                {{ form_errors(form.forumAnswerText) }}
                                {{ form_row(form.forumAnswerText) }}
                        </div>

                        <p class="text-center">
                            {{ form_widget(form.Ajouter) }}
                            <a href="{{ path('agil_forum_subjects_list', {'idCategory': idCategory}) }}">
                               <button class="btn btn-default">Annuler</button>
                            </a>
                        </p>

                        {{ tinymce_init() }}
                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}