{% extends 'AGILForumBundle::baseForumBundle.html.twig' %}

{% block body %}
    <!-- Suppression du sujet -->
    <div class="row">
        <div class="col-xs-12 col-lg-offset-3 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                    <span class="panel-title-content">
                        Suppression du sujet
                    </span>
                    </h2>
                </div>
                <div class="panel-body">

                    <!-- Formulaire de suppression du post pour le forum -->

                    <form action="{{ path('agil_forum_subject_delete', {'idCategory': idCategory, 'idSubject': idSubject}) }}" method="post" {{ form_enctype(form) }}>
                        <label for="inputNamePost" class="control-label">Sujet : <strong>{{ subject.forumSubjectTitle }}</strong></label>

                        <p>Voulez-vous vraiment supprimer ce sujet?</p>
                        <div class="form-group">
                            {{ form_widget(form.reason) }}
                        </div>
                        <div class="text-center">
                            {{ form_widget(form.Supprimer) }}
                            <a class="btn btn-default" href="{{ path('agil_forum_subject_answers', {'idCategory': idCategory, 'idSubject': idSubject}) }}">
                                Annuler
                            </a>
                        </div>
                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}