{% extends "::base.html.twig" %}

{% block body %}
    <!-- Suppression du sujet -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                            <span class="panel-title-content">
                                Suppression du sujet
                            </span>
                </h2>
            </div>
            <div class="panel-body">

                <!-- Formulaire de suppression du post pour le forum -->

                <form action="{{ path('agil_forum_subject_delete', {'idCategory': idCategory, 'idSubject': idSubject}) }}" method="post" {{ form_enctype(form) }}>

                    <div class="form-group" id="formAddNamePost">
                        <label for="inputNamePost" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Sujet</label>
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <p>{{ subject.forumSubjectTitle }}</p>
                        </div>
                    </div>

                    <div class="form-group" id="formAddNamePost">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <p>Voulez-vous vraiment supprimer ce sujet?</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form_row(form.Supprimer) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <a href="{{ path('agil_forum_subject_answers', {'idCategory': idCategory, 'idSubject': idSubject}) }}">
                                <button class="btn btn-default">Annuler</button>
                            </a>
                        </div>
                    </div>

                    {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}