{% extends "::base.html.twig" %}

{% block body %}
    <h1>MEMBRES</h1>
    <table>
        <tr>
            <td>Nom</td>
            <td>Mail</td>
            <td>Inscrit le</td>
        </tr>
    {% for user in users %}

        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.userSignupDate|date("m/d/Y") }}</td>
            <td><a href="{{ path('agil_admin_user_up', {'id': user.id}) }}">Promouvoir</a></td>
            <td><a href="{{ path('agil_admin_user_delete', {'id': user.id}) }}">Bannir</a></td>
        </tr>

    {% endfor %}
    </table>
    <div class="text-center">
        {% include 'AGILAdminBundle:Default:pagination.html.twig' %}
    </div>

    <h1>MODERATEURS</h1>
    <table>
        <tr>
            <td>Nom</td>
            <td>Mail</td>
            <td>Inscrit le</td>
        </tr>
        {% for moderator in moderators %}

            <tr>
                <td>{{ moderator.username }}</td>
                <td>{{ moderator.email }}</td>
                <td>{{ moderator.userSignupDate|date("m/d/Y") }}</td>
                <td><a href="{{ path('agil_admin_user_up', {'id': moderator.id}) }}">Promouvoir</a></td>
                <td><a href="{{ path('agil_admin_user_down', {'id': moderator.id}) }}">Destituer</a></td>
                <td><a href="{{ path('agil_admin_user_delete', {'id': moderator.id}) }}">Bannir</a></td>
            </tr>

        {% endfor %}
    </table>


    {% if is_granted("ROLE_SUPER_ADMIN") %}
    <h1>ADMINISTRATEURS</h1>
    <table>
        <tr>
            <td>Nom</td>
            <td>Mail</td>
            <td>Inscrit le</td>
        </tr>
        {% for admin in admins %}
            <tr>
                <td>{{ admin.username }}</td>
                <td>{{ admin.email }}</td>
                <td>{{ admin.userSignupDate|date("m/d/Y") }}</td>
                <td><a href="{{ path('agil_admin_user_down', {'id': admin.id}) }}">Destituer</a></td>
                <td><a href="{{ path('agil_admin_user_delete', {'id': admin.id}) }}">Bannir</a></td>
            </tr>

        {% endfor %}
    </table>
    {% endif %}


{% endblock %}