{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-lg-offset-3 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="panel-title-content">
                            Ajouter un membre
                        </span>
                    </h2>
                </div>
                <div class="panel-body">
                    <form action="{{ path('agil_admin_user_add') }}" method="post" {{ form_enctype(form) }}>

                        {{ form_errors(form) }}

                        <div class="form-group">
                            <label for="username">Email :</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="material-icons">email</i></div>
                                {{ form_row(form.email) }}
                            </div>
                        </div>

                        {#
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                        <div class="form-group">
                            {{ form_row(form.role) }}
                        </div>
                        {% endif %}
                        #}

                        <div class="text-center">
                            {{ form_row(form.invite) }}
                        </div>

                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}