{% extends "AGILHallBundle::baseHallBundle.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-10">
                            <h3>{{ event.eventTitle }}</h3>
                            {% if event.eventDateEnd > event.eventDate %}
                                <small>du {{ event.eventDate | date('j/m/Y') }} au {{ event.eventDateEnd | date('j/m/Y') }}</small>
                            {% else %}
                                <small>le {{ event.eventDate | date('j/m/Y') }}</small>
                            {% endif %}
                        </div>
                        <div class="col-lg-2">
                            <h5>
                                Le <span class="text-primary-blue">{{ event.eventPostDate | date('j M Y') }}</span>
                                par <a href="{{ path('agil_profile_id', {id : event.user.id}) }}">{{ event.user }}</a>
                            </h5>
                        </div>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <p>
                            {{ eventContent | raw }}
                        </p>
                    </div>
                    <div class="row">
                        <div class="owl-carousel">
                            {% for photo in event.photos %}
                                <div class="item"><img class="img-responsive"
                                                       src="{{ asset("img/hall/") ~ photo.photoUrl }}"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel({nav:true});
        });
    </script>

{% endblock %}
