{% extends "AGILHallBundle::baseHallBundle.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-10">
                            <h3>{{ event.eventTitle }}</h3>
                            {% if event.eventDateEnd > event.eventDate %}
                                <small>du {{ event.eventDate | date('j/m/Y') }} au {{ event.eventDateEnd | date('j/m/Y') }}</small>
                            {% else %}
                                <small>le {{ event.eventDate | date('j/m/Y') }}</small>
                            {% endif %}
                        </div>
                        <div class="col-lg-2">
                            <h5>
                                Le <span class="text-primary-blue">{{ event.eventPostDate | localizeddate('none', 'none', null, null, 'd LLL Y') }}</span>
                                par <a href="{{ path('agil_profile_id', {id : event.user.id}) }}">{{ event.user }}</a>
                            </h5>
                        </div>

                    </div>
                </div>
                <div class="panel-body">
                    {{ eventContent | raw }}
                    <div class="row">
                        <div class="owl-carousel">
                            {% for photo in event.photos %}
                                <div class="item"><img class="img-responsive"
                                                       src="{{ asset("img/hall/") ~ photo.photoUrl }}"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="img-zoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body text-center">
                </div>
                <div class="modal-footer">
                    <p class="text-center"><button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
