{% extends "AGILOfferBundle::baseOfferBundle.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p><a class="btn btn-primary btn-block" href="{{ path('agil_offer_add') }}">Ajouter une annonce</a></p>
        </div>
    </div>

    {% for offer in offers %}
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <div class="card-events">
                    <div class="row">
                        {% if is_granted("ROLE_ADMIN") %}
                            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                                <h5>
                                    <a {% if offer.offerType == 'emploi' %} class="offer-job" {% endif %}
                                            href="{{ path('agil_offer_view', {'id': offer.offerId}) }}">
                                        {{ offer.offerTitle }}
                                    </a>
                                </h5>

                                {% if offer.offerText is not null %}
                                    <p>Auteur: {{ offer.offerAuthor }}</p>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h5>
                                    <a {% if offer.offerType == 'emploi' %} class="offer-job" {% endif %}
                                            href="{{ path('agil_offer_view', {'id': offer.offerId}) }}">
                                        {{ offer.offerTitle }}
                                    </a>
                                </h5>

                                {% if offer.offerText is not null %}
                                    <p>Auteur: {{ offer.offerAuthor }}</p>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") %}
                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center">
                                <a role="button"
                                   data-href="{{ path('agil_offer_delete', {'idCrypt': offer.offerRoute}) }}"
                                   data-target="#confirm-delete" title="Supprimer"
                                   class="btn btn-danger" data-toggle="modal"><i
                                            class="glyphicon glyphicon-trash"></i>
                                </a>
                            </div>
                        {% endif %}
                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            {% for tag in offer.tags %}
                                <span class="label {{ tag.tagColor }}">{{ tag.tagName | upper }}</span>
                            {% endfor %}
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center">
                            <p>{{ offer.offerPostDate| localizeddate('none', 'none', null, null, 'd LLL Y') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if offers is empty %}
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                <div class="card-events">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <h5>Aucune offre disponible pour l'instant.</h5>
                            <p>Revenez plus tard ou inscrivez-vous à la mailing list !</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Panel qui s'affiche pour la confirmation de suppression -->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5>Etes vous sûr ?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-danger btn-ok">Confirmer</a>
                </div>
            </div>
        </div>
    </div>

    {% if pagination.pages_count > 1 %}
        <nav class="text-center">
            {% include 'AGILHallBundle:Default:pagination.html.twig' %}
        </nav>
    {% endif %}
{% endblock %}
