{% extends "AGILChatBundle::baseChatBundle.html.twig" %}

{% block body %}
    <h2>TABLE</h2>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                        <span class="panel-title-content">
                          Nouveau chat
                        </span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}

                        <div class="form-group" id="formAddNameChatTable">
                            <h5><label class="control-label">Nom de la table</label></h5>
                            {{ form_errors(form.chatTableName) }}
                            {{ form_widget(form.chatTableName) }}
                        </div>

                        <div class="form-group" id="formAddNameChatTable">
                            <h5><label class="control-label">Password (facultatif)</label></h5>
                            {{ form_errors(form.chatTablePassword) }}
                            {{ form_widget(form.chatTablePassword) }}
                        </div>

                        <p class="text-center">
                            {{ form_widget(form.Ajouter) }}
                        </p>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            {% for chatTable in chatTableList %}

                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ chatTable.chatTableName }}</div>
                        <div class="panel-body">
                            {% if chatTable.chatTablePassword is null %}
                                <a class="with_pwd btn btn-primary"
                                   href="{{ path('agil_chat_room',{'roomId' : chatTable.chatTableId } ) }}"
                                   target="_blank">Rejoindre</a>
                            {% else %}
                                <a idTable="{{ chatTable.chatTableId }}" class="btn btn-primary" data-toggle="modal"
                                   data-target="#askPwd">Rejoindre</a>
                            {% endif %}
                            {% if ((is_granted('ROLE_MODERATOR')) or (app.user == chatTable.User)) %}
                                <a idTable="{{ chatTable.chatTableId }}" class="btn btn-default btn-danger"
                                   data-toggle="modal" data-target="#confirmDelete">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="askPwd" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Entrez le mot de passe</h4>
                </div>
                <div class="modal-body">

                    <form class="modal-form" action="" method="post">
                        <input type="password" name="password"/>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Entrer</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Voulez vous supprimer ce salon ?</h4>
                </div>
                <div class="modal-body">
                    <form class="modal-form" action="" method="post">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-primary">Oui</button>
                        </div>
                    </form>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block botJavascript %}
    <script src="{{ asset('js/chatIndex.js') }}"></script>
{% endblock %}

