{% extends "AGILSearchBundle::baseSearchBundle.html.twig" %}

{% form_theme form '::button_widget.html.twig' %}

{% block body %}
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <span class="panel-title-content">
                        Recherche avancée
                    </span>
                </h2>
            </div>



            {{ form_start(form) }}

            {{ form_errors(form.tags) }}
            {{ form_widget(form.tags) }}

            {{ form_errors(form.filter) }}
            {{ form_widget(form.filter) }}

            {{ form_errors(form.method) }}
            {{ form_widget(form.method) }}

            {{ form_errors(form.no) }}
            {{ form_widget(form.no) }}

            <button type="submit" class="btn btn-primary">Rechercher</button>

            {{ form_rest(form) }}

            {{ form_end(form) }}



            <!--
            <div class="form-horizontal">
                <div class="panel-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="search">Recherche</label>
                            <input class="form-control" name="search" id="search">
                        </div>
                        <h3 class="panel-title">
                            <span class="panel-title-content">
                                Filtre
                            </span>
                        </h3>
                        <label class="radio">
                            <input type="radio" name="optionsSearch" id="optionsSearch" value="all">
                            <span></span><i class="glyphicon glyphicon-align-justify"></i> Tous
                        </label>
                        <label class="radio">
                            <input type="radio" name="optionsSearch" id="optionsSearch" value="forum">
                            <span></span><i class="glyphicon glyphicon-th-list"></i> Forum
                        </label>
                        <label class="radio">
                            <input type="radio" name="optionsSearch" id="optionsSearch" value="profile">
                            <span></span><i class="glyphicon glyphicon-user"></i> Profile
                        </label>
                        <label class="radio">
                            <input type="radio" name="optionsSearch" id="optionsSearch" value="offer">
                            <span></span><i class="glyphicon glyphicon-info-sign"></i> Offres
                        </label>
                        <label class="radio">
                            <input type="radio" name="optionsSearch" id="optionsSearch" value="event">
                            <span></span><i class="glyphicon glyphicon-picture"></i> Evenement
                        </label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top">
                        <h3 class="panel-title">
                            <span class="panel-title-content">
                                Opérateur
                            </span>
                        </h3>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="et">
                            <span></span>ET
                        </label>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="ou">
                            <span></span>OU
                        </label>
                        <div class="form-group">
                            <label class="col-sm-2 col-lg-2 col-xs-2 col-md-2 control-label" for="no">NON</label>
                            <div class="col-sm-10 col-lg-10 col-xs-10 col-md-10">
                                <input class="form-control" type="text" name="no" id="no">
                            </div>
                        </div>
                    </div>
                    <p class="text-center">
                        <a class="btn btn-primary">Relancer</a>
                    </p>
                </div>
            </div>


            -->

        </div>
    </div>


    {% if searchForum is defined %}

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="panel-title-content">
                            Sujets de Forum
                        </span>
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="list">

                        {% if searchForum[1] == 0 %}

                            <p class="text-center">La recherche n'a retourné aucun résultat.</p>

                        {% else %}

                            {% for s in searchForum[0] %}

                                <div class="list-element">
                                    <p><a href="{{ path('agil_forum_subject_answers',{'idCategory' : s.forumCategoryId,'idSubject':s.forumSubjectId}) }}" class="interne-link">{{ s.forumSubjectTitle }}</a></p>
                                    <em>{{ s.forumSubjectPostDate|date('d-m-Y') }}</em>

                                    {% for tag in tagsForum[s.forumSubjectId] %}
                                        <span class="label {{ tag.tagColor }}">{{ tag.tagName|upper }}</span>
                                    {% endfor %}

                                </div>

                            {% endfor %}

                        {% endif %}

                    </div>


                    {% if searchForum[1] > 4 and pagination is not defined %}
                        <a>Voir Plus</a>
                    {% endif %}

                </div>

                {% if pagination is defined and searchForum[1] != 0 and pagination.pages_count > 1 %}

                    <nav class="text-center">
                        {% include 'AGILSearchBundle:Pagination:pagination.html.twig' %}
                    </nav>

                {% endif %}

            </div>
        </div>

    {% endif %}

    {% if searchHall is defined %}

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="panel-title-content">
                            Evènements du Hall
                        </span>
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="list">

                        {% if searchHall[1] == 0 %}

                            <p class="text-center">La recherche n'a retourné aucun résultat.</p>

                        {% else %}

                            {% for search in searchHall[0] %}

                                <div class="list-element">
                                    <p><a href="{{ path('agil_hall_event',{'idEvent':search.eventId}) }}" class="interne-link">{{ search.eventTitle }}</a></p>
                                    <em>{{ search.eventDate|date('d-m-Y') }}</em>
                                    {% for tag in tagsHall[search.eventId] %}
                                        <span class="label {{ tag.tagColor }}">{{ tag.tagName|upper }}</span>
                                    {% endfor %}
                                </div>

                            {% endfor %}

                        {% endif %}

                    </div>

                    {% if searchHall[1] > 4 and pagination is not defined  %}
                        <a>Voir Plus</a>
                    {% endif %}

                </div>

                {% if pagination is defined and searchHall[1] != 0 and pagination.pages_count > 1  %}

                    <nav class="text-center">
                        {% include 'AGILSearchBundle:Pagination:pagination.html.twig' %}
                    </nav>

                {% endif %}

            </div>
        </div>

    {% endif %}

    {% if searchOffers is defined %}

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="panel-title-content">
                            Offres
                        </span>
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="list">

                        {% if searchOffers[1] == 0 %}

                            <p class="text-center">La recherche n'a retourné aucun résultat.</p>

                        {% else %}

                            {% for search in searchOffers[0] %}

                                <div class="list-element">
                                    <p><a href="#" class="interne-link">{{ search.offerTitle }}</a></p>
                                    <em>{{ search.offerPostDate|date('d-m-Y') }}</em>
                                    {% for tag in tagsOffer[search.offerId] %}
                                        <span class="label {{ tag.tagColor }}">{{ tag.tagName|upper }}</span>
                                    {% endfor %}
                                </div>

                            {% endfor %}

                        {% endif %}

                    </div>

                    {% if searchOffers[1] > 4 and pagination is not defined  %}
                        <a>Voir Plus</a>
                    {% endif %}

                </div>

                {% if pagination is defined and searchOffers[1] != 0 and pagination.pages_count > 1  %}

                    <nav class="text-center">
                        {% include 'AGILSearchBundle:Pagination:pagination.html.twig' %}
                    </nav>

                {% endif %}

            </div>
        </div>

    {% endif %}

{% endblock %}