{% extends "AGILSearchBundle::baseSearchBundle.html.twig" %}

{% form_theme form '::button_widget.html.twig' %}

{% block body %}
    {# Formulaire de recherche avancée #}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                    <h2 class="panel-title">
                        <span class="panel-title-content">
                            Recherche avancée
                        </span>
                    </h2>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
                    <span class="rotate-icon glyphicon glyphicon-chevron-up icon-bigger hideSearch"></span>
                </div>
            </div>
            {{ form_start(form) }}
                <div class="panel-body">
                    <div class="searchContent">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                {{ form_errors(form.tags) }}
                                <label class="col-sm-1 col-lg-1 col-xs-1 col-md-1 control-label" for="search">Recherche</label>
                                <div class="col-sm-10 col-lg-10 col-xs-10 col-md-10">
                                    {{ form_row(form.tags) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h3 class="panel-title">
                                <span class="panel-title-content">
                                    Filtre
                                </span>
                            </h3>

                            {{ form_errors(form.filter) }}
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label class="radio">
                                    {{ form_widget(form.filter.0) }}
                                    <span></span><i class="glyphicon glyphicon-align-justify"></i>{{ form_label(form.filter.0) }}
                                </label>
                                <label class="radio">
                                    {{ form_widget(form.filter.1) }}
                                    <span></span><i class="glyphicon glyphicon-th-list"></i>{{ form_label(form.filter.1) }}
                                </label>
                                <label class="radio">
                                    {{ form_widget(form.filter.2) }}
                                    <span></span><i class="glyphicon glyphicon-user"></i>{{ form_label(form.filter.2) }}
                                </label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label class="radio">
                                    {{ form_widget(form.filter.3) }}
                                    <span></span><i class="glyphicon glyphicon-info-sign"></i>{{ form_label(form.filter.3) }}
                                </label>
                                <label class="radio">
                                    {{ form_widget(form.filter.4) }}
                                    <span></span><i class="glyphicon glyphicon-picture"></i>{{ form_label(form.filter.4) }}
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h3 class="panel-title">
                                <span class="panel-title-content">
                                    Opérateur
                                </span>
                            </h3>
                            {{ form_errors(form.method) }}
                            <label class="radio">
                                {{ form_widget(form.method.0) }}
                                <span></span>{{ form_label(form.method.0) }}
                            </label>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="ou">
                                {{ form_widget(form.method.1) }}
                                <span></span>{{ form_label(form.method.1) }}
                            </label>
                            <div class="form-group">
                                {{ form_errors(form.no) }}
                                <label class="col-sm-1 col-lg-1 col-xs-1 col-md-1 control-label" for="no">NON</label>
                                <div class="col-sm-10 col-lg-10 col-xs-10 col-md-10">
                                    {{ form_row(form.no) }}
                                </div>
                            </div>
                        </div>
                        <p class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center">
                            <button type="submit" class="btn btn-primary margin-top">Rechercher</button>
                        </p>
                    </div>
                </div>

            {{ form_rest(form) }}

            {{ form_end(form) }}
        </div>
    </div>

    {# ------------------------------------------------------------- #}
    {#                  Block de la recherche Forum                  #}
    {# ------------------------------------------------------------- #}
    {% if searchForum is defined %}
        {% if is_granted('ROLE_USER') %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <span class="panel-title-content">
                                Sujets de Forum
                            </span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="list">
                            {% if searchForum[1] == 0 %}
                                <p class="text-center">La recherche n'a retourné aucun résultat.</p>
                            {% else %}
                                {% for s in searchForum[0] %}
                                    <div class="list-element">
                                        <p>
                                            <a href="{{ path('agil_forum_subject_answers',{'idCategory' : s.forumCategoryId,'idSubject':s.forumSubjectId}) }}"
                                               class="internal-link">{{ s.forumSubjectTitle }}</a></p>
                                        <em>{{ s.forumSubjectPostDate|date('d-m-Y') }}</em>

                                        {% for tag in tagsForum[s.forumSubjectId] %}
                                            <a class="label-link" href="{{ path('agil_search_homepage',{'tags':tag.tagName}) }}"><span
                                                        class="label {{ tag.tagColor }}">{{ tag.tagName|upper }}</span></a>
                                        {% endfor %}

                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% if searchForum[1] > 4 and pagination is not defined %}
                            <a href="{{ path('agil_search_homepage',{'tags':form.tags.vars.value,'filter':'forum','method':form.method.vars.value,'no':form.no.vars.value}) }}">Voir
                                Plus</a>
                        {% endif %}
                    </div>
                    {% if pagination is defined and searchForum[1] != 0 and pagination.pages_count > 1 %}
                        <nav class="text-center">
                            {% include 'AGILSearchBundle:Pagination:pagination.html.twig' %}
                        </nav>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p class="text-center">Veuillez vous connecter pour accéder à la recherche Forum</p>
        {% endif %}
    {% endif %}

    {# ------------------------------------------------------------- #}
    {#                   Block de la recherche Hall                  #}
    {# ------------------------------------------------------------- #}
    {% if searchHall is defined %}

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="panel-title-content">
                            Evènements du Hall
                        </span>
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="list">
                        {% if searchHall[1] == 0 %}
                            <p class="text-center">La recherche n'a retourné aucun résultat.</p>
                        {% else %}
                            {% for search in searchHall[0] %}
                                <div class="list-element">
                                    <p><a href="{{ path('agil_hall_event',{'idEvent':search.eventId}) }}"
                                          class="interne-link">{{ search.eventTitle }}</a></p>
                                    <em>{{ search.eventDate|date('d-m-Y') }}</em>
                                    {% for tag in tagsHall[search.eventId] %}
                                        <a class="label-link" href="{{ path('agil_search_homepage',{'tags':tag.tagName}) }}"><span
                                                    class="label {{ tag.tagColor }}">{{ tag.tagName|upper }}</span></a>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% if searchHall[1] > 4 and pagination is not defined %}
                        <a href="{{ path('agil_search_homepage',{'tags':form.tags.vars.value,'filter':'hall','method':form.method.vars.value,'no':form.no.vars.value}) }}">Voir
                            Plus</a>
                    {% endif %}
                </div>

                {% if pagination is defined and searchHall[1] != 0 and pagination.pages_count > 1 %}
                    <nav class="text-center">
                        {% include 'AGILSearchBundle:Pagination:pagination.html.twig' %}
                    </nav>
                {% endif %}

            </div>
        </div>
    {% endif %}

    {# ------------------------------------------------------------- #}
    {#                  Block de la recherche Offres                 #}
    {# ------------------------------------------------------------- #}
    {% if searchOffers is defined %}
        {% if is_granted('ROLE_USER') %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                        <span class="panel-title-content">
                            Offres
                        </span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="list">
                            {% if searchOffers[1] == 0 %}
                                <p class="text-center">La recherche n'a retourné aucun résultat.</p>
                            {% else %}
                                {% for search in searchOffers[0] %}
                                    <div class="list-element">
                                        <p><a href="{{ path('agil_offer_view', {'id' : search.offerId}) }}" class="interne-link">{{ search.offerTitle }}</a></p>
                                        <em>{{ search.offerPostDate|date('d-m-Y') }}</em>
                                        {% for tag in tagsOffers[search.offerId] %}
                                            <a href="{{ path('agil_search_homepage',{'tags':tag.tagName}) }}"><span
                                                        class="label {{ tag.tagColor }}">{{ tag.tagName|upper }}</span></a>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% if searchOffers[1] > 4 and pagination is not defined %}
                            <a href="{{ path('agil_search_homepage',{'tags':form.tags.vars.value,'filter':'offer','method':form.method.vars.value,'no':form.no.vars.value}) }}">Voir
                                Plus</a>
                        {% endif %}
                    </div>

                    {% if pagination is defined and searchOffers[1] != 0 and pagination.pages_count > 1 %}
                        <nav class="text-center">
                            {% include 'AGILSearchBundle:Pagination:pagination.html.twig' %}
                        </nav>
                    {% endif %}

                </div>
            </div>
        {% else %}
            <p class="text-center">Veuillez vous connecter pour accéder à la recherche des Offres</p>
        {% endif %}
    {% endif %}

    {# -------------------------------------------------------------- #}
    {#                  Block de la recherche Profils                 #}
    {# -------------------------------------------------------------- #}
    {% if searchProfile is defined %}
        {% if is_granted('ROLE_USER') %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                        <span class="panel-title-content">
                            Profils
                        </span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="list">
                            {% if searchProfile[1] == 0 %}
                                <p class="text-center">La recherche n'a retourné aucun résultat.</p>
                            {% else %}
                                {% for search in searchProfile[0] %}
                                    <div class="list-element">
                                        <p><a href="{{ path('agil_profile_id',{'id':search.id}) }}"
                                              class="interne-link">{{ search.userFirstName }} {{ search.userLastName }}
                                                ({{ search.username }})</a></p>
                                        {% for skill in tagsProfile[search.id] %}
                                            <a href="{{ path('agil_search_homepage',{'tags':skill.tag.tagName}) }}"><span
                                                        class="label {{ skill.tag.tagColor }}">{{ skill.tag.tagName | upper }} : {{ skill.skillLevel }}/10</span></a>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% if searchProfile[1] > 4 and pagination is not defined %}
                            <a href="{{ path('agil_search_homepage',{'tags':form.tags.vars.value,'filter':'profile','method':form.method.vars.value,'no':form.no.vars.value}) }}">Voir
                                Plus</a>
                        {% endif %}
                    </div>

                    {% if pagination is defined and searchProfile[1] != 0 and pagination.pages_count > 1 %}
                        <nav class="text-center">
                            {% include 'AGILSearchBundle:Pagination:pagination.html.twig' %}
                        </nav>
                    {% endif %}

                </div>
            </div>
        {% else %}
            <p class="text-center">Veuillez vous connecter pour accéder à la recherche des Profils</p>
        {% endif %}
    {% endif %}
{% endblock %}