{% extends 'AGILForumBundle::baseForumBundle.html.twig' %}

{% form_theme form '::form_errors.html.twig' %}

{% block body %}
    <!-- Suppression d'une réponse -->
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="panel-title-content">
                            Suppression de la réponse
                        </span>
                    </h2>
                </div>
                <div class="panel-body">
                    <!-- Formulaire de suppression de la réponse -->

                    {{ form_start(form) }}
                        <div class="form-group">
                            <p>
                                Réponse :
                                <strong>{{ answer.forumAnswerText|raw }}</strong>
                            </p>
                            <p class="text-primary-blue">Voulez-vous vraiment supprimer cette réponse?</p>
                            {% if isAdmin == true %}
                                <div class="form-group">
                                    {{ form_errors(form.choiceReason) }}
                                    {{ form_label(form.choiceReason) }}
                                    {{ form_widget(form.choiceReason) }}
                                </div>
                                <div class="form-group">
                                    <label>Message additionnel :</label>
                                    {{ form_errors(form.reasonOption) }}
                                    {{ form_widget(form.reasonOption) }}
                                </div>
                            {% endif %}


                            <div class="text-center">
                                {{ form_widget(form.Supprimer) }}
                                <a class="btn btn-default" href="{{ path('agil_forum_subject_answers', {'idCategory': idCategory, 'idSubject': idSubject}) }}">
                                    Annuler
                                </a>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}