{% extends 'AGILForumBundle::baseForumBundle.html.twig' %}

{% form_theme form '::form_errors.html.twig' %}

{% block body %}
    <!-- Modification du post -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <span class="panel-title-content">
                        Modification d'une réponse
                    </span>
                </h2>
            </div>
            <div class="panel-body">

                <!-- Formulaire de modification du post pour le forum -->

                {{ form_start(form) }}

                    <div class="form-group" id="formAddNamePost">
                        <label class="control-label"><strong>Sujet</strong></label>
                        <p>{{ subject.forumSubjectTitle }}</p>
                    </div>
                    <div class="form-group" id="formAddDescPost">
                        <label class="control-label"><strong>Description</strong></label>
                        <p>{{ subject.forumSubjectDescription }}</p>
                    </div>

                    <div class="form-group" id="formAddContentPost">
                        <label class="control-label"><strong>Réponse</strong></label>
                            {{ form_errors(form.forumAnswerText) }}
                            {{ form_widget(form.forumAnswerText) }}
                    </div>
                    {{ tinymce_init({
                        selector: 'forumAnswerText',
                        menu: {
                            file: {title: 'File', items: 'newdocument'},
                            edit: {title: 'Edit', items: 'undo redo | cut copy paste pastetext | selectall'},
                            insert: {title: 'Insert', items: 'link media | template hr'},
                            view: {title: 'View', items: 'visualaid'},
                            format: {title: 'Format', items: 'bold italic underline strikethrough superscript subscript | formats | removeformat'},
                            table: {title: 'Table', items: 'inserttable tableprops deletetable | cell row column'},
                            tools: {title: 'Tools', items: 'spellchecker code'}
                        }
                    }) }}
                <p class="text-center">
                    {{ form_widget(form.Modifier) }}
                    <a class="btn btn-default"
                       href="{{ path('agil_forum_subject_answers', {'idCategory': idCategory, 'idSubject': idSubject, 'page': page}) }}">
                        Annuler
                    </a>
                </p>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}