{% extends 'AGILForumBundle::baseForumBundle.html.twig' %}

{% block body %}
    <!-- Suppression d'une réponse -->
    <div class="row">
        <div class="col-lg-offset-2 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                    <span class="panel-title-content">
                        Suppression de la réponse
                    </span>
                    </h2>
                </div>
                <div class="panel-body">

                    <!-- Formulaire de suppression de la réponse -->

                    <form action="{{ path('agil_forum_answers_delete', {'idCategory': idCategory, 'idSubject': idSubject, 'idAnswer': idAnswer}) }}" method="post" {{ form_enctype(form) }}>

                        <div class="form-group">
                            <p>Réponse : <bold>{{ answer.forumAnswerText|raw }}</bold></p>
                        </div>
                        <div class="form-group">
                            <p>Voulez-vous vraiment supprimer cette réponse?</p>
                        </div>
                        {% if isAdmin == true %}
                            <div class="form-group">
                                <p>Raison :
                                    {{ form_row(form.reason) }}</p>
                            </div>
                        {% endif %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form_widget(form.Supprimer) }}
                        </div>
                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}