{% extends 'AGILForumBundle::baseForumBundle.html.twig' %}


{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('agil_forum_homepage') }}">Accueil Forum</a></li>
        <li>
            <a href="{{ path('agil_forum_subjects_list',{'idCategory' : category.forumCategoryId}) }}">{{ category.forumCategoryName }}</a>
        </li>
        <li class="active">{{ subject.forumSubjectTitle }}</li>
    </ol>


    <div class="row forum-subjects">

        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">

            <h3>{{ subject.forumSubjectTitle }}</h3>
            <h5>{{ subject.forumSubjectDescription }}</h5>

            {% if subject.forumSubjectIsResolved %}
                <div class="alert alert-success" role="alert">Ce sujet est résolu</div>
            {% else %}

                {% if app.user.username == subject.user.username %}
                    <a href="{{ path('agil_forum_subject_to_resolve',{'idCategory' : category.forumCategoryId,'idSubject' : subject.forumSubjectId}) }}"
                       class="btn btn-default">Mettre comme résolu</a>
                {% endif %}
                <br/><br/>
            {% endif %}

            {% for a in answers %}

                <!-- Un message -->
                <div class="panel forum_message">

                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-xs-2 col-sm-3 col-md-2 col-lg-2 hidden-xs ">
                                <div class="text-center">
                                    <h4>
                                        <a href="{{ path('agil_profile_id',{'id':a.id}) }}">{{ a.username }}</a>
                                    </h4>
                                </div>

                                <div class="embed-responsive embed-responsive-4by3">
                                    <img class="center-block img-circle img-responsive"
                                         src="{{ asset("img/profile/") ~ a.userProfilePictureUrl }}"/>
                                </div>

                                <div class="user_info text-center">
                                    <strong>
                                        {% if a.roles|length == 0 %}
                                            MEMBRE
                                        {% else %}
                                            {% if a.roles[0] == "ROLE_SUPER_ADMIN" %}
                                                SUPER ADMINISTRATEUR
                                            {% elseif a.roles[0] == "ROLE_ADMIN" %}
                                                ADMINISTRATEUR
                                            {% elseif a.roles[0] == "ROLE_MODERATOR" %}
                                                ANIMATEUR-MODERATEUR
                                            {% endif %}
                                        {% endif %}
                                    </strong>
                                    <div class="text-center">
                                        {% for skill in userTagsSkills[a.id] %}
                                            <span class="label {{ skill.tag.tagColor }}">{{ skill.tag.tagName }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                                <div class="container-fluid">
                                    <div class="row">

                                        <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                            <!-- affiché sur petit écran -->
                                            <div class="text-left hidden-lg hidden-md hidden-sm ">
                                                <h4 class="no-margin-top-bot">
                                                    <a href="{{ path('agil_profile_id',{'id':a.id}) }}">{{ a.username }}</a>
                                                </h4>
                                            </div>
                                            <em>Il y a {{ relativeDate[a.forumAnswerId] }}
                                                ({{ a.forumAnswerPostDate|date('j M Y - H:i:s') }})</em>
                                        </div>

                                        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 text-right">

                                            {% if app.user.username == a.username %}
                                                <a id="editAnswerLink" name="editAnswerLink" class="btn btn-default"
                                                   href="{{ path('agil_forum_answers_edit',{'idCategory' : category.forumCategoryId,'idSubject' : subject.forumSubjectId,'idAnswer' : a.forumAnswerId}) }}"
                                                   role="button"><span class="glyphicon glyphicon-edit"></span></a>
                                            {% endif %}

                                            {% if is_granted('ROLE_MODERATOR') and a.forumAnswerId != isFirst %}

                                                <a class="btn btn-danger" href="{{ path('agil_forum_answers_delete',{'idCategory' : category.forumCategoryId,'idSubject' : subject.forumSubjectId,'idAnswer' : a.forumAnswerId}) }}"
                                                   role="button"><span class="glyphicon glyphicon-trash"></span></a>

                                            {% endif %}

                                        </div>
                                    </div>

                                    <hr>
                                    <div class="row">
                                        <p>{{ a.forumAnswerText|raw }}</p>
                                    </div>

                                </div>

                            </div>
                            <!-- Contenu du message -->

                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>


    </div>

    <nav class="text-center">
        {% include 'AGILForumBundle:Answers:pagination.html.twig' %}
    </nav>

    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <div class="panel">
                <div class="panel-heading text-center">
                    <h4>Répondre</h4>
                </div>

                <!-- Partie pour répondre au sujet -->
                <div class="panel-body">

                    <!-- Formulaire de d'ajout de réponse pour le sujet -->

                    <form action="{{ path('agil_forum_subject_answers', {'idCategory': category.forumCategoryId, 'idSubject': subject.forumSubjectId}) }}"
                          method="post" {{ form_enctype(form) }}>

                        {{ form_errors(form.forumAnswerText) }}
                        {{ form_row(form.forumAnswerText) }}


                        <br/>
                        <div class="text-center">
                            {{ form_widget(form.Ajouter) }}
                            <input type="reset" class="btn btn-default" value="Effacer">
                        </div>
                        {{ tinymce_init() }}


                        {{ form_rest(form) }}


                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
