{% extends '::base.html.twig' %}


{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('agil_forum_homepage') }}">Accueil Forum</a></li>
        <li><a href="{{ path('agil_forum_subjects_list',{'idCategory' : category.forumCategoryId}) }}">{{ category.forumCategoryName }}</a></li>
        <li class="active">{{ subject.forumSubjectTitle }}</li>
    </ol>


    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <h3>{{ subject.forumSubjectTitle }}</h3>
            <h5>{{ subject.forumSubjectDescription }}</h5>

            <!-- Si n'est pas encore résolu -->
            <button class="btn btn-default">Mettre comme résolu</button>
            <!-- Quand le sujet est résolu -->
            <div class="alert alert-success" role="alert">Ce sujet est résolu</div>


            {% for a in answers %}

                <!-- Un message -->
                <div class="panel forum_message">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <span class="text-left h3">
                                    <a href="#">{{ a.user.username }}</a>
                                </span>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 text-right">
                                <span class="text-right"><em class="blue">Il y a {{ relativeDate[a.forumAnswerId] }} ({{ a.forumAnswerPostDate|date('j M Y - H:i:s') }})</em></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 hidden-xs">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <img class="center-block img-circle img-responsive" src="http://lorempicsum.com/simpsons/140/140/5"/>
                                </div>

                                <div class="user_info text-center">

                                    <strong>[{{ a.user.roles[0] }}]</strong>
                                    <div class="text-center">

                                        <span class="label label-default">#PHP</span>
                                        <span class="label label-default">C++</span>
                                        <span class="label label-success">Assembleur</span>
                                        <span class="label label-danger">Html/css</span>
                                        <span class="label label-default tag-blue">Html/css</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-10 col-md-10 col-lg-10">
                                <br/>

                                <!-- Contenu du message -->
                                <p>{{ a.forumAnswerText }}</p>


                            </div>

                        </div>
                    </div>
                    <div class="forum_message_function">
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2">
                            </div>
                            <div class="col-sm-10 col-md-10 col-lg-10 text-right">
                                <!-- Quand on est administrateur -->
                                <a class="btn btn-danger" href="#" role="button">Signaler</a>
                                <!-- Edition du message quand on est le propriétaire -->
                                <a class="btn btn-default" href="#" role="button">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

        <nav class="text-center">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>


    <!-- Partie pour répondre au post-->
    <div class="reponse">
        <form class="form-horizontal">
            <div class="form-group">
                <textarea class="form-control" rows="3" id="inputEmail3"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Preview</button>
                <button type="submit" class="btn btn-default">Envoyer</button>
            </div>
        </form>
    </div>






    <br>



{% endblock %}