<ul class="pagination">
    <li class="pagination-buttons">
        {% if pagination.page>1 %}
            <a href="{{ path(pagination.route,
            pagination.route_params|merge({'idCategory': category.forumCategoryId,'idSubject': subject.forumSubjectId,'page': 1})) }}"><<</a>
            <a href="{{ path(pagination.route,
            pagination.route_params|merge({'idCategory': category.forumCategoryId,'idSubject': subject.forumSubjectId,'page': pagination.page-1})) }}"><</a>
        {% endif %}
        {#display p numbers only from p-4 to p+4 but don't go <1 or >pages_count#}
        {% for p in range(max(pagination.page-4, 1),
        min(pagination.page+4, pagination.pages_count)) %}
            <a{% if p == pagination.page %} class="active"{% endif %}
                    href="{{ path(pagination.route,
                    pagination.route_params|merge({'idCategory': category.forumCategoryId,'idSubject': subject.forumSubjectId,'page': p})) }}">{{ p }}</a>
        {% endfor %}
        {% if pagination.page<pagination.pages_count %}
            <a href="{{ path(pagination.route,
            pagination.route_params|merge({'idCategory': category.forumCategoryId,'idSubject': subject.forumSubjectId,'page': pagination.page+1})) }}">></a>
            <a href="{{ path(pagination.route,
            pagination.route_params|merge({'idCategory': category.forumCategoryId,'idSubject': subject.forumSubjectId,'page': pagination.pages_count})) }}">>></a>
        {% endif %}
    </li>
</ul>