{% extends '::base.html.twig' %}


{% block body %}

    <h4>Forum </h4>
<div class="container">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">

    {% for category in categoryList %}

        {% set key = category.forumCategoryId %}


        <div class="row">

            <div class="panel-group forum_categorie" id="accordion{{ category.forumCategoryId }}" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <!-- Lien pour dérouler -->
                    <div class="panel-heading no-pad-top no-pad-bot">
                        <div class="row parent">
                            <div class="col-xs-10 col-xm-11 col-md-11 col-lg-11">

                                <h5>
                                <span class="glyphicon {{ category.forumCategoryIcon }}" aria-hidden="true"></span>
                                    <a href="{{ path('agil_forum_subjects_list',{'idCategory' : category.forumCategoryId } ) }}">{{ category.forumCategoryName }}</a>
                                </h5>

                                <em class="hidden-sm hidden-xs">
                                    <small>{{ category.forumCategoryText }}</small>
                                </em>
                            </div>

                            <div class="col-xs-2 col-xm-1 col-md-1 col-lg-1 text-right child">
                                <a id="icon_defil_cat" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse{{ category.forumCategoryId }}" aria-expanded="true"
                                   aria-controls="collapse{{ category.forumCategoryId }}">
                                    <h4>
                                        <span id="icon_rotate" class="glyphicon glyphicon glyphicon-chevron-down"
                                              aria-hidden="true"></span>
                                    </h4>
                                </a>
                            </div>
                        </div>
                    </div>


                    <div id="collapse{{ category.forumCategoryId }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">


                        {% if subjectsPerCategories[key]|length == 0 %}

                            <div class="container">
                                <em><h6>Cette catégorie ne contient pas de sujets</h6></em>
                            </div>

                        {% else %}

                            <div class="container">
                                <em><h6>Les derniers sujets</h6></em>
                            </div>

                            <table class="table table-hover">

                            {% for subject in subjectsPerCategories[key] %}

                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col-xs-8 col-xm-10 col-md-10 col-lg-10">
                                                <h5><a href="#">{{ subject.forumSubjectTitle }}</a></h5>
                                                <h6>{{ subject.forumSubjectDescription }}</h6>
                                            </div>
                                            <div class="col-xs-4 col-xm-2 col-md-2 col-lg-2">
                                                <h5>
                                                    <small> Créé par</small>
                                                    <a href="#">{{ subject.user.username }}</a></h5>
                                                <h6><em> Il y a 45 min</em></h6>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            {% endfor %}

                            </table>

                        {% endif %}


                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
</div>
    </div>
    </div>

{% endblock %}